/env
/venv
.venv
/core/__pycache__
/dashboard/__pycache__
/media
/media.zip
/app_accounts/migrations
/app_dashboard/migrations
/app_accounts/__pycache__
/app_dashboard/__pycache__
/tailwindcss
/jstoolchain
/node_modules
env.json
db.sqlite3
*.pyc