# requirements.txt

annotated-types==0.6.0
asgiref==3.7.2
autoflake==2.2.1
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
decorator==5.1.1
Django==5.0.1
django-pwa==1.1.0
django-qr-code==4.0.1
django-ratelimit==4.1.0
django-unicorn==0.58.1
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
et-xmlfile==1.1.0
google==3.0.0
google-api-core==2.15.0
google-auth==2.26.2
google-cloud-recaptcha-enterprise==1.16.0
googleapis-common-protos==1.62.0
greenlet==3.0.3
grpcio==1.60.0
grpcio-status==1.60.0
idna==3.6
numpy==1.26.3
openpyxl==3.1.2
orjson==3.9.13
pandas==2.1.4
pillow==10.2.0
proto-plus==1.23.0
protobuf==4.25.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==2.7.1
pydantic_core==2.18.2
pyflakes==3.2.0
pypng==0.20220715.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
qrcode==7.4.2
requests==2.31.0
rsa==4.9
segno==1.6.1
shortuuid==1.0.11
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.25
sqlparse==0.4.4
tornado==6.4
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
XlsxWriter==3.2.0
