
{% extends "layouts/base.html" %}
{% load static %}


{% block title %} Home {% endblock %}



{% block display %}
<main class="flex gap-3 mx-2 sm:mx-10 md:mx-20">
    <!-- Keep the display fit the screen, only content inside can be scrolled -->
    <div class="overflow-y-scroll w-full pr-2 pb-10 pt-10" style="height: 89vh;">
        <div class="text-center text-3xl flex flex-col gap-5 justify-center items-center">
            <h1>Trang web của Anh Ngữ GEN8 đang được bảo trì và nâng cấp chức năng, website sẽ hoàn thành trong thời gian sớm nhất</h1>
            <p>Trong thời gian chờ đợi các quý phụ huynh và học sinh có thể truy cập facebook của Anh Ngữ GEN8 ở đường link bên dưới để cập nhật các thông tin về trung tâm nhé:</p>
            <a class="btn btn-primary w-fit p-5 text-2xl" href="https://www.facebook.com/anhngugen8/" target="_blank">Click vào đây để vào Facebook Anh Ngữ Gen8</a>
            <p>Cảm ơn các bạn rất nhiều</p>
        </div>

    </div>
</main>
{% endblock %}










