{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    {{ page_name }}
{% endblock %}



{% block extra_head %}
{% endblock %}

{% block content %}
    <div id="modal"></div>
    <main>
        {% include 'components/nav_bar.html' %}

        {% comment %} <div id="database-selection" class="flex items-center m-auto mb-2 overflow-scroll">
            {% for each_sub_page, display_name in display_name_dict.items %}
            <div>
                <a up-preload="insert" href="{% url 'page_projects' sub_page=each_sub_page %}"
                    class="change-page btn btn-outline-no-focus text-nowrap cursor-pointer text-theme rounded-none
                    {% if each_sub_page == sub_page %} bg-slate-300 dark:bg-slate-700 {% endif %}
                    {% if forloop.first %} rounded-s-lg {% endif %}
                    {% if forloop.last %} rounded-e-lg {% endif %}">
                    {{ display_name }}
                </a>
                <a up-preload="insert" href="{% url 'load_elements' %}?q={% encode_params page='page_projects' model=each_sub_page elements='tool_bar|display_records' %}"></a>
            </div>
            {% endfor %}
        </div> {% endcomment %}


        <div id="load-elements" up-defer up-href="{% url 'load_elements' %}?q={% encode_params page='page_projects' model=model check_date=check_date elements='tool_bar|display_records' %}" class="w-full text-center">
            <span class="text-theme"> Đang tải dữ liệu, xin vui lòng chờ ...</span>
        </div>

        <div up-hungry id="tool-bar"></div>
        <div up-hungry id="message-page"></div>
        <div up-hungry id="display-records"></div>
        <div up-hungry id="load-more" class="flex justify-center items-center gap-4 my-6 pagination-container">


    </main>
{% endblock %}
{% block extra_script %}
{% endblock %}




