{% extends 'layouts/base.html' %}
{% load static %}


{% block title %}
    Dự án - {{ project.name }}
{% endblock %}



{% block extra_head %}
{% endblock %}

{% block content %}
    <div up-hungry id="modal"></div>
    <main>
        {% include 'components/nav_bar.html' %}
        <div id="load-content" up-defer up-href="{% url 'load_content' page='page_data_vehicle_type_details' %}">
            Loading content
        </div>
        <div up-hungry id="title-bar"></div>
        <div up-hungry id="extra-tool-bar"></div>
        <div up-hungry id="tool-bar"></div>
        <div up-hungry id="display-records"></div>
    </main>
{% endblock %}

{% block extra_script %}
{% endblock %}




