{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    Dự án - {{ project.name }}
{% endblock %}



{% block extra_head %}
{% endblock %}

{% block content %}
    <div id="modal" up-hungry></div>
    <main>
        {% include 'components/nav_bar.html' %}
        <div id="load-elements" up-defer up-href="{% url 'load_elements' %}?q={% encode_params page='page_each_project' model='Job' project_id=project_id check_date=check_date elements='title_bar|tool_bar|infor_bar|display_records' %}">
            Loading content
        </div>
        <div up-hungry id="title-bar"></div>
        <div up-hungry id="infor-bar"></div>
        
        <div up-hungry id="tool-bar"></div>
        <div up-hungry id="extra-tool-bar"></div>
        <div up-hungry id="message-page"></div>
        <div up-hungry id="display-records"></div>
        <div up-hungry id="load-more" class="flex justify-center items-center gap-4 my-6 pagination-container">
          
        <div id="gantt-chart-container" class="card w-full mt-5 rounded-2xl hidden">
          <h3 class="px-6 py-3 text-xl font-semibold text-center text-theme border border-slate-300 dark:border-slate-900 border-opacity-50">
            Biểu đồ Gantt toàn dự án
          </h3>
          <div id="ganttChart" data-project-id="{{ project.pk }}" data-check-date="{{ check_date }}" class="w-full py-3 bg-gray-50 dark:bg-gray-800 overflow-auto"></div>
        
        
        </div>

    </main>





      

<!-- 
    <div class="w-full border border-slate-300 dark:border-slate-900 border-opacity-50 rounded-2xl shadow-md mt-4">
        <h3 class="text-lg font-semibold px-6 py-3 bg-white dark:bg-slate-800 text-gray-800 dark:text-gray-300">
          Gantt Chart with D3.js
        </h3>
        <div id="ganttChart" class="px-6 py-3 bg-gray-50 dark:bg-gray-800"></div>
      </div> -->


{% endblock %}

{% block extra_script %}
{% endblock %}




