{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}
    Dự án
{% endblock %}



{% block extra_head %}
{% endblock %}

{% block content %}
    <div up-hungry id="modal"></div>
    <main>
        {% include 'components/nav_bar.html' %}

        <div id="load-elements" up-defer up-href="{% url 'load_elements' %}?q={% encode_params page='page_projects' model='Project' check_date=check_date elements='title_bar|tool_bar|display_records' %}">
            Loading content
        </div>

        <div up-hungry id="title-bar"></div>
        <div up-hungry id="tool-bar"></div>
        <div up-hungry id="display-records"></div>
        <div up-hungry id="message-page"></div>
    </main>
{% endblock %}

{% block extra_script %}
{% endblock %}




