{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}


{% block title %}
    Phòng vận tải
{% endblock %}



{% block extra_head %}
{% endblock %}

{% block content %}
    <div up-hungry id="modal"></div>
    <main>
        {% include 'components/nav_bar.html' %}

        <div id="database-selection" class="flex items-center m-auto mb-2" 
                onclick="
                    event.target.closest('a').classList.add('bg-slate-300', 'dark:active:bg-slate-700');
                    document.querySelectorAll('#database-selection a').forEach((button) => {
                        if (button !== event.target.closest('a')) {
                            button.classList.remove('bg-slate-300', 'dark:active:bg-slate-700');
                        }
                    });">
                <a up-preload="insert" id="vehicle_operation_data_by_date" up-target="#tool-bar, #display-records" 
                    href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' start_date=start_date group_by='vehicle' tab='vehicle_operation_data_by_date' elements='tool_bar|display_records' %}"
                    class="btn btn-outline-no-focus rounded-lg rounded-e-none cursor-pointer text-theme">
                    Dữ liệu hoạt động xe công trình theo ngày
                </a>
                <a up-preload="insert" id="driver_salary" up-target="#tool-bar, #display-records" 
                    href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' start_date=start_date end_date=end_date group_by='driver' tab='driver_salary' elements='tool_bar|display_records' %}"
                    class="btn btn-outline-no-focus rounded-lg rounded-none cursor-pointer text-theme">
                    Bảng tính lương tài xế
                </a>

                <a up-preload="insert" id="vehicle_avenue" up-target="#tool-bar, #display-records" 
                    href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' start_date=start_date end_date=end_date group_by='vehicle' tab='vehicle_avenue' elements='tool_bar|display_records' %}"
                    class="btn btn-outline-no-focus rounded-lg rounded-s-none cursor-pointer text-theme">
                    Bảng tính doanh xe xe
                </a>

        </div>


        <div id="load-elements" up-defer up-href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' start_date=start_date group_by='vehicle' tab='vehicle_operation_data_by_date' elements='tool_bar|display_records' %}">
            Loading content
        </div>


    <div up-hungry id="tool-bar"></div>
    <div up-hungry id="display-records"></div>
        
    </main>
{% endblock %}

{% block extra_script %}
{% endblock %}




