{% extends 'layouts/base.html' %}
{% load static %}


{% block title %}
Trang của tôi
{% endblock %}



{% block extra_head %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th,
    td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>
{% endblock %}

{% block content %}
<div up-hungry id="modal"></div>
<main>
    {% include 'components/nav_bar.html' %}
    {{ user.is_admin  }}
    {% if user.is_admin %}

    <button class="btn btn-primary" type="button" id="assign-button">
        <i class="fas fa-users me-3"></i>
        Phân quyền
    </button>
    {% endif %}




    Trang này sẽ dùng để hiển thị công việc được giao, công việc cần duyệt tùy theo title của nhân viên

</main>
{% endblock %}

{% block extra_script %}
{% endblock %}