{% extends 'layouts/base.html' %}
{% load static %}


{% block title %}
    Dự án - {{ project.name }}
{% endblock %}



{% block extra_head %}
{% endblock %}

{% block content %}
    <div up-hungry id="modal"></div>
    <main>
        {% include 'components/nav_bar.html' %}
        <div id="load-content" up-defer up-href="{% url 'load_content_with_project' page='page_each_project' model='Job' project_id=project.pk %}?check_date={{ check_date }}">
            Loading content
        </div>
        <div up-hungry id="title-bar"></div>
        <div up-hungry id="infor-bar"></div>
        <div up-hungry id="extra-tool-bar"></div>
        
        <div up-hungry id="tool-bar"></div>
        
        <div up-hungry id="display-records"></div>

        
        <div class="card w-full mt-5 rounded-2xl">
          <h3 class="px-6 py-3 text-xl font-semibold text-center text-theme border border-slate-300 dark:border-slate-900 border-opacity-50">
            Biểu đồ Gantt toàn dự án
          </h3>
          <div id="ganttChart" class="w-full py-3 bg-gray-50 dark:bg-gray-800 overflow-auto"></div>
        </div>

    </main>





      

<!-- 
    <div class="w-full border border-slate-300 dark:border-slate-900 border-opacity-50 rounded-2xl shadow-md mt-4">
        <h3 class="text-lg font-semibold px-6 py-3 bg-white dark:bg-slate-800 text-gray-800 dark:text-gray-300">
          Gantt Chart with D3.js
        </h3>
        <div id="ganttChart" class="px-6 py-3 bg-gray-50 dark:bg-gray-800"></div>
      </div> -->


{% endblock %}

{% block extra_script %}
{% endblock %}




