{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}


{% block title %}
    Phòng vận tải
{% endblock %}



{% block extra_head %}
{% endblock %}

{% block content %}
    <div up-hungry id="modal"></div>
    <main>
        {% include 'components/nav_bar.html' %}

        <div id="database-selection" class="flex items-center m-auto mb-2 overflow-scroll">
            {% for each_sub_page, display_name in display_name_dict.items %}
            <div>
                <a up-preload="insert" href="{% url 'page_transport_department' sub_page=each_sub_page %}"
                    class="btn btn-outline-no-focus text-nowrap cursor-pointer text-theme rounded-none
                    {% if each_sub_page == sub_page %} bg-slate-300 dark:bg-slate-700 {% endif %}">
                    {{ display_name }}
                </a>
                {% if each_sub_page == 'VehicleOperationRecord' %}
                    <a up-preload="insert" up-cache="True"
                    href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' start_date=start_date group_by='vehicle' tab='vehicle_operation_data_by_date' elements='tool_bar|display_records' %}"></a>

                {% elif each_sub_page == 'ConstructionDriverSalary' %}
                    <a up-preload="insert" up-cache="True"
                    href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' check_month=check_month group_by='driver' tab='driver_salary' elements='tool_bar|display_records' %}"></a>

                {% elif each_sub_page == 'ConstructionReportPL' %}
                    <a up-preload="insert" up-cache="True"
                    href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' start_date=start_date end_date=end_date tab='vehicle_revenue' elements='tool_bar|display_records' %}"></a>

                {% else %}
                    <a up-preload="insert" up-cache="True" href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model=each_sub_page elements='tool_bar|display_records' %}"></a>
                {% endif %}
            </div>
            {% endfor %}
        </div>


        {% if sub_page == 'VehicleOperationRecord' %}
            <div id="load-elements" up-defer="insert" up-cache="True"
            up-href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' start_date=start_date group_by='vehicle' tab='vehicle_operation_data_by_date' elements='tool_bar|display_records' %}"
            class="w-full text-center">
                <span class="text-theme"> Đang tải dữ liệu, xin vui lòng chờ ...</span>
            </div>

        {% elif sub_page == 'ConstructionDriverSalary' %}
            <div id="load-elements" up-defer="insert" up-cache="True"
            up-href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' check_month=check_month group_by='driver' tab='driver_salary' elements='tool_bar|display_records' %}"
                <span class="text-theme"> Đang tải dữ liệu, xin vui lòng chờ ...</span>
            </div>

        {% elif sub_page == 'ConstructionReportPL' %}
            <div id="load-elements" up-defer="insert" up-cache="True"
            up-href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' start_date=start_date end_date=end_date tab='vehicle_revenue' elements='tool_bar|display_records' %}"
                <span class="text-theme"> Đang tải dữ liệu, xin vui lòng chờ ...</span>
            </div>

        {% else %}
            <div id="load-elements" up-defer="insert" up-cache="True" up-href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model=model elements='tool_bar|display_records' %}" class="w-full text-center">
                <span class="text-theme"> Đang tải dữ liệu, xin vui lòng chờ ...</span>
            </div>
        {% endif %}

        <div up-hungry id="tool-bar"></div>
        <div up-hungry id="display-records"></div>
        <div up-hungry id="load-more" class="hidden"></div>

    </main>
{% endblock %}

{% block extra_script %}
{% endblock %}




