{% extends 'layouts/base.html' %}
{% load static %}


{% block title %} {{ title }} {% endblock %}



{% block extra_head %}
{% endblock %}


{% block content %}

    {% include 'components/nav_bar.html' %}
    <!-- The title bar -->
    {% include 'components/title_bar.html' %}
    <!-- The tool bar for database filter, sort and more -->
    {% include 'components/tool_bar.html' %}
    <!-- The cards display -->
    {% include 'components/display_cards.html' %}

{% endblock %}



{% block extra_script %}
{% endblock %}




