
<div class="text-theme lg:px-64 md:px-40">
  <h1 class="font-bold text-2xl text-center whitespace-pre-line">QUYỀN LỢI VÀ TRÁCH NHIỆM CỦA HỌC VIÊN 
    TẠI ANH NGỮ GEN8</h1>

  <h2 class="font-bold text-lg mt-5">A – QUYỀN LỢI:</h2>
  <ul class="list-disc list-inside mt-3 text-lg">
    <li>Tại Anh Ngữ GEN8, học viên được giảng dạy theo lộ trình đào tạo độc quyền, giúp các con phát triển đầy đủ kỹ năng nghe, nói, đọc, viết và thuyết trình.</li>
    <li>Ngoài lớp học chính, học viên được tham gia các lớp học bổ trợ năng lực khác (nếu giáo viên cảm thấy cần thiết) song song với lớp học chính mà không cần đóng thêm bất kì chi phí nào.</li>
    <li>Ngoài giờ học trên lớp, học viên có thể xem lại toàn bộ bài giảng song ngữ bằng video tại nhà để đảm bảo tiếp thu kiến thức đầy đủ nhất.</li>
    <li>Các giáo viên tại GEN8 được tuyển dụng với tiêu chuẩn đầu vào cao, phát âm chuẩn và được đào tạo theo đúng phương pháp giảng dạy độc quyền của Anh Ngữ GEN8.</li>
    <li>Các phòng học tại trung tâm đều được trang bị đầy đủ cơ sở vật chất và trang thiết bị hiện đại để cung cấp cho học viên môi trường học tập tiện nghi và hiệu quả.</li>
    <li>Học viên tại GEN8 không chỉ được học Tiếng Anh mà còn được trau dồi các kỹ năng khác qua các buổi học kỹ năng được tổ chức định kì.</li>
    <li>Phụ huynh có thể giám sát trực tiếp tiến trình học tập và quá trình phát triển kỹ năng của con qua các bài luyện tập tại nhà được GEN8 game hóa chỉn chu và hấp dẫn, được gửi trên nhóm Zalo của lớp sau mỗi bài học.</li>
    <li>Học viên được khuyến khích học tập bằng đô la GEN8 được quản lý qua hệ thống phần mềm độc quyền. Học viên sử dụng đô la GEN8 để mua các vật phẩm tại trung tâm và tham gia các sự kiện được tổ chức định kì.</li>
  </ul>

  <h2 class="font-bold text-lg mt-5">B – TRÁCH NHIỆM:</h2>
  <h3 class="font-medium text-lg mt-3">B1. Quy định về kỷ luật học tập:</h3>
  <h3 class="font-medium text-lg mt-3">Việc phát triển kỹ năng ngoại ngữ của học viên là kết quả không chỉ là đến từ năng lực giảng dạy và sự tận tình của giáo viên mà còn từ sự cố gắng của cả học viên, nên:</h3>
  <ul class="list-disc list-inside mt-3 text-lg">
   
    <li>Học viên phải đi học đúng giờ, nếu đến muộn hoặc nghỉ học phải thông báo cho giáo viên hoặc nhân viên tại trung tâm qua Zalo nhóm lớp.</li>
    <li>Học viên phải làm bài tập về nhà đầy đủ trước khi đến lớp. Phụ huynh cần hợp tác với trung tâm trong việc nhắc nhở các con học bài và làm bài ở nhà.</li>
    <li>Học viên tôn trọng giáo viên và bạn bè, tuyệt đối không nói bậy, nói tục bằng bất kì ngôn ngữ nào, không được giơ ngón tay giữa.</li>
    <li>Học viên tập trung học tập, không làm việc riêng tại lớp. Nếu Học viên làm việc riêng trong giờ học, giáo viên hoàn toàn có quyền mời Học viên ra ngoài để tránh ảnh hưởng tới chất lượng lớp học.</li>
    
  </ul>

  <h3 class="font-medium text-lg mt-5">B2. Quy định về đóng học phí, nghỉ học, bảo lưu:</h3>
  <ul class="list-disc list-inside mt-3 text-lg">
    <li>Học viên hoàn thành học phí trong vòng 1 tuần kể từ khi có thông báo đóng học phí mới từ nhân viên tại trung tâm.</li>
    <li>Học phí của học viên được tự động bảo lưu theo quy chế sau:</li>
    <ul class="list-disc list-inside mt-2 ml-4">
      <li>Vắng từ 3 buổi liên tiếp trở lên và đã có thông báo cho trung tâm: tự động bảo lưu số buổi vắng từ buổi thứ 3.</li>
      <li>Nếu học sinh có tham gia các lớp học khác, số buổi học này sẽ được bù vào số buổi bảo lưu.</li>
      <li>Tất cả các trường hợp vắng khác không thuộc các trường hợp trên đều không được bảo lưu.</li>
    </ul>
    <li>Học phí trong mọi trường hợp sẽ được bảo lưu, không được hoàn lại.</li>
  </ul>

  <p class="text-blue-500 mt-5 text-center text-xl">Khi cho con theo học tại Anh Ngữ GEN8 được xem như phụ huynh đã đồng ý với các quyền lợi và quy định trên.</p>

</div>