{% extends 'layouts/base.html' %}

{% load static %}


{% block title %} {{ title }} {% endblock %}



{% block extra_head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/unpoly@3.7.3/unpoly.min.css">
{% endblock %}


{% block display %}
    {% if request.mode != 'view' %}
        <!-- A place holder for keep success image list and fail image list -->
        <div id="success-image-list" up-hungry style="display: none;">
            {% for image in success_images_list %}
                <img src="{{ image }}" alt="Success Image" />
            {% endfor %}
        </div>

        <div id="fail-image-list" up-hungry style="display: none;">
            {% for image in fail_images_list %}
                <img src="{{ image }}" alt="Fail Image" />
            {% endfor %}
        </div>

        <!-- A place holder for displaying modal -->
        <div id="modal" up-hungry></div>
    

        <!-- Navigation bar -->
        {% include 'components/nav_bar.html' %}
    {% endif %}



    <!-- The main display -->
    {% if page == 'attendance' %}
        <main class="flex mt-4 gap-3">
            <div class="overflow-y-scroll w-full pr-2" style="height: 89vh;">
                {% include 'components/title_bar.html' %}
                {% include 'components/display_attendance_calendar.html' %}
            </div>
        </main>
        
    {% else %}
        <main class="flex mt-4 gap-3">
            <!-- Keep the display fit the screen, only content inside can be scrolled -->
            <div class="overflow-y-scroll w-full pr-2 pb-10" style="height: 89vh;">
                {% if page == "dashboard" %}
                    {% include 'components/dashboard.html' %}
                {% else %}
                    <!-- The title bar -->
                    {% include 'components/title_bar.html' %}
                    <!-- The tool bar for database filter, sort and more -->
                    {% include 'components/db_tool_bar.html' %}
                    {% include 'components/calculation_section.html' %}
                    <!-- The cards display -->
                    {% include 'components/display_cards.html' %}
                {% endif %}
            </div>
            <!-- The information panel -->
            <!-- {% include 'components/infor_bar.html' %} -->
        </main>

    {% endif %}

{% endblock %}



{% block extra_script %}
    <script src="https://cdn.jsdelivr.net/npm/unpoly@3.7.3/unpoly.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
    <script src="/static/js/main.js?v=28"></script>
    <script src="/static/js/classroom.js?v=28"></script>
{% endblock %}