    <div class="
    reward
    present
    absent
    late
    left-early
    not-checked
    grayouted

    form-input
    form-input-file
    
    grid grid-cols-1 grid-cols-2
    grid-cols-3 grid-cols-4 grid-cols-5
    bg-yellow-300 bg-yellow-400
    dark:bg-yellow-300 dark:bg-yellow-700
    bg-green-300 bg-green-400
    dark:bg-green-300 dark:bg-green-700
    bg-blue-300 bg-blue-400
    dark:bg-blue-300 dark:bg-blue-700
    bg-indigo-300 bg-indigo-400
    dark:bg-indigo-300 dark:bg-indigo-700
    bg-purple-300 bg-purple-400
    dark:bg-purple-300 dark:bg-purple-700
    bg-pink-300 bg-pink-400
    dark:bg-pink-300 dark:bg-pink-700
    bg-red-300 bg-red-400
    dark:bg-red-300 dark:bg-red-700
    bg-gray-300 bg-gray-400
    dark:bg-gray-300 dark:bg-gray-700

    bg-gray-200
    border-gray-300
    dark:border-gray-700
    dark:bg-gray-800

    menu-item
    menu-item-top
    menu-item-border
    menu-item-bot
    rounded-t-xl
    rounded-b-xl
    menu-border
    
    "></div>
 