.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.truncate-start {
  direction: rtl;
  /* Reverse the direction of the text */
  text-overflow: ellipsis;
  /* Apply ellipsis when overflow occurs */
  overflow: hidden;
  /* Ensure overflow content is not visible */
  white-space: nowrap;
  /* Prevent text from wrapping to the next line */
}

.truncate-start>* {
  direction: ltr;
  /* Correct the direction of the content inside */
}


.card-image-container {
  width: 100%;
  display: inline-block;
  /* Needed for aspect-ratio property */
}

.card-image-container img {
  width: 100%;
  aspect-ratio: 16 / 9;
  /* Sets the aspect ratio */
  object-fit: cover;
  /* Ensures image covers the entire container */
}

.modal-image-container {
  width: 100%;
  display: inline-block;
  /* Needed for aspect-ratio property */
}

.modal-image-container img {
  width: 100%;
  aspect-ratio: 4 / 3;
  /* Sets the aspect ratio */
  object-fit: cover;
  /* Ensures image covers the entire container */
}


.meme-container {
  width: 100%;
  display: inline-block;
  /* Needed for aspect-ratio property */
}

.meme-container img {
  width: 100%;
  aspect-ratio: 4 / 3;
  /* Sets the aspect ratio */
  object-fit: cover;
  /* Ensures image covers the entire container */
}


.protal-profile-image-container {
  width: 100%;
  display: inline-block;
  /* Needed for aspect-ratio property */
}

.protal-profile-image-container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  /* Sets the aspect ratio */
  object-fit: cover;
  /* Ensures image covers the entire container */
}



.glow {
  text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
}

/* SHAKING EFFECT FOR STUDENT CARDS */
@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  10% {
    transform: translate(-2px, -4px) rotate(-2deg);
  }

  20% {
    transform: translate(-6px, 0px) rotate(2deg);
  }

  30% {
    transform: translate(6px, 4px) rotate(0deg);
  }

  40% {
    transform: translate(2px, -2px) rotate(2deg);
  }

  50% {
    transform: translate(-2px, 4px) rotate(-2deg);
  }

  60% {
    transform: translate(-6px, 2px) rotate(0deg);
  }

  70% {
    transform: translate(6px, 2px) rotate(-2deg);
  }

  80% {
    transform: translate(-2px, -2px) rotate(2deg);
  }

  90% {
    transform: translate(2px, 4px) rotate(0deg);
  }

  100% {
    transform: translate(2px, -4px) rotate(-2deg);
  }
}

.shake {
  animation: shake 1s;
  animation-iteration-count: 10;
  /* The number of times the animation should repeat; you might want to increase or decrease this value. */
}


.just-updated {
  animation: just-updated 5s forwards;
}

@keyframes just-updated {
  0% {
    background-color: rgb(0, 153, 255);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}





/* STATUS STYLES */
.done {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.not_started {
  background-image: linear-gradient(310deg, #000000 0%, #808080 100%);
}

.in_progress {
  background-image: linear-gradient(310deg, #1773ad 0%, #2da6ec 100%);
}

.pending {
  background-image: linear-gradient(310deg, #a68819 0%, #fbcf33 100%);
}

.archived {
  background-image: linear-gradient(310deg, #000000 0%, #808080 100%);
}





/* STATUS STYLES */
.active {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.on_leave {
  background-image: linear-gradient(310deg, #b54d0d 0%, #ff9c4b 100%);
}

.resigned {
  background-image: linear-gradient(310deg, #dc1414 0%, #c55353 100%);
}

.terminated {
  background-image: linear-gradient(310deg, #dc1414 0%, #c55353 100%);
}



.approved {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.wait_for_approval {
  background-image: linear-gradient(310deg, #b54d0d 0%, #ff9c4b 100%);
}

.rejected {
  background-image: linear-gradient(310deg, #dc1414 0%, #c55353 100%);
}




th {
    position: relative;
    padding-right: 20px;
}
/* th:hover {
    background-color: #f2f1f1;
} */
th.sorted-asc::after {
    content: ' ▲';
    position: absolute;
    right: 5px;
}
th.sorted-desc::after {
    content: ' ▼';
    position: absolute;
    right: 5px;
}



.plus {
  color: green;
  
}

.minus {
  color: red;
}

.zero {
  color: #bdbdbd;
}

.True {
  color: green;
  
}

.False {
  color: red;
}

.wait_for_approval {
  background-image: linear-gradient(310deg, #4d4d4d 0%, #4d4d4d 100%);
}

.approved {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.need_update {
  background-image: linear-gradient(310deg, #ffa500 0%, #ffc107 100%);
}

.rejected {
  background-image: linear-gradient(310deg, #dc1414 0%, #c55353 100%);
}

.received {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.not_received {
  background-image: linear-gradient(310deg, #4d4d4d 0%, #4d4d4d 100%);
}

.paid {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.not_paid {
  background-image: linear-gradient(310deg, #4d4d4d 0%, #4d4d4d 100%);
}

.done {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.not_done {
  background-image: linear-gradient(310deg, #4d4d4d 0%, #4d4d4d 100%);
}





.trimmed-text {
  white-space: pre-line;
  padding: 0.5em; /* Optional: Adjust padding to visually separate from container */
  text-align: start; /* Ensures text is left-aligned without extra indentation */
}