  {% load i18n static admin_soft gen8_tags %}

<!-- Set id=sidenav-main if want transparent effect on side bar -->
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-white" id="">
  <div class="sidenav-header">
    <!-- Close Icon -->
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" 
       aria-hidden="true" 
       id="iconSidenav"></i>

    <!-- Logo and Brand Name 
    <a class="navbar-brand m-0" href="{% url 'dashboard' %}">
      <img src="{% static 'img/logo-ct-dark.png' %}" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold">GEN8</span>
    </a>
  </div>
-->
  <hr class="horizontal dark mt-0">

  <div class="collapse navbar-collapse w-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
        {% get_url_list as url_list %}
        {% current_url as current_url %}

        <!-- Management Links -->
        {% if url_list %}
          <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Management</h6>
          </li>
          {% for url in url_list %}
            <li class="nav-item">
              <a href="{{ url.url }}" class="nav-link {% if url.url == current_url %} active {% endif %}">
                <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                  <span class="sidebar-icon {{ url.icon }}"></span>
                </div>
                <span class="nav-link-text ms-1">{{ url.name }}</span>
              </a>
            </li>
          {% endfor %}
        {% endif %}

        {% admin_get_menu as app_list %}

        <!-- Core Data Links -->
        {% if app_list %}
          <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Core Data</h6>
          </li>
          {% for app in app_list %}
            {% if app.has_perms and not app.pinned %}
              <li class="nav-item">
                <!-- App Link -->
                <span class="nav-link{% if app_label != app.label and app.url not in request.path|urlencode %} collapsed{% endif %} d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-{{ app.app_label }}">
                  <span class="d-flex justify-content-between align-items-center">
                    <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                      <span class="sidebar-icon {{ app.icon }}"></span>
                    </div>
                    <a href="{{ app.url }}">
                      <span class="nav-link-text ms-1">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
                    </a>
                  </span>
                </span>

                <!-- Submenu for App Models -->
                {% if app.models %}
                  <div class="multi-level ms-5 collapse {% if 'tables-bootstrap-' in segment or app_label == app.label or app.url in request.path|urlencode %} show {% endif %}" role="list" id="submenu-{{ app.app_label }}" aria-expanded="{% if app_label == app.label or app.url in request.path|urlencode %}true{% else %}false{% endif %}">
                    <ul class="flex-column nav" style="overflow: visible;">
                      {% for model in app.models %}
                        {% if model.url %}
                          <li class="nav-item{% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %} list-unstyled">
                            <a class="nav-link" href="{{ model.url }}">
                              <span class="nav-link-text ms-1">{{ model.label }}</span>
                            </a>
                          </li>
                        {% else %}
                          <li class="nav-item list-unstyled">{{ model.label }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        {% endif %}

        <!-- Tools Section -->
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Tools</h6>
        </li>
      {% endif %}
    </ul>
  </div>
</aside>
