{% load custom_tags %}
<div class="w-full pt-4 px-6 pt-5- pb-2">
    <div class="flex flex-row gap-5 items-end py-2">
        <label for="students" class="text-theme">Trạng thái phiếu mua vật tư</label>
    </div>
    <div class="form-input flex flex-col h-fit h-max-[300px] overflow-y-scroll">
        <div class="flex justify-between w-full font-semibold">
            <span class="w-4/12 text-center"> Trạng thái duyệt </span>
            <span class="w-4/12 text-center"> Trạng thái nhận hàng </span>
            <span class="w-4/12 text-center"> Trạng thái thanh toán </span>
        </div> 
        <div class="pt-3 pb-1 flex justify-between items-center w-full">
            <div class="w-4/12 flex justify-center">
                {% if record %}
                    <span class="{{ record|get_value:'approval_status' }} text-white p-1 rounded-md shadow-2xl px-2 text-nowrap hidable approve-hidable">{{ record|format_display:'approval_status' }}</span>
        
                    {% if not permissions.approve %}
                    <select name="approval_status" class="form-input hidable approve-hidable hidden" id="id_approval_status" style="width: 150px">
                        {% if record.approval_status == "scratch" %}
                            <option selected value="scratch">Bảng nháp</option>
                            <option value="wait_for_approval">Chờ duyệt</option>
                            
                        {% elif record.approval_status == "wait_for_approval" %}
                            <option selected value="wait_for_approval">Chờ duyệt</option>
                            
                        {% elif record.approval_status == "approved" %}
                            <option selected value="approved">Đã duyệt</option>

                        {% elif record.approval_status == "need_update" %}
                            <option value="wait_for_approval">Chờ duyệt</option>
                            <option selected value="need_update">Cần sửa lại</option>

                        {% elif record.approval_status == "rejected" %}
                            <option value="rejected">Từ chối</option>
                        {% endif %}
                    </select>
                    {% else %}
                    <select name="approval_status" class="form-input hidable approve-hidable hidden" id="id_approval_status" style="width: 150px">
                        {% if record.approval_status == "scratch" %}
                            <option selected value="scratch">Bảng nháp</option>
                            <option value="wait_for_approval">Chờ duyệt</option>

                        {% elif record.approval_status == "wait_for_approval" %}
                            <option selected value="wait_for_approval">Chờ duyệt</option>
                            <option value="approved">Đã duyệt</option>
                            <option value="need_update">Cần sửa lại</option>
                            <option value="rejected">Từ chối</option>

                        {% elif record.approval_status == "approved" %}
                            <option selected value="approved">Đã duyệt</option>
                            <option value="need_update">Cần sửa lại</option>

                        {% elif record.approval_status == "need_update" %}
                            <option value="wait_for_approval">Chờ duyệt</option>
                            <option selected value="need_update">Cần sửa lại</option>

                        {% elif record.approval_status == "rejected" %}
                            <option value="need_update">Cần sửa lại</option>
                            <option selected value="rejected">Từ chối</option>
                        {% endif %}
                    
                    </select>
                    {% endif %}
                    {% else %}
                        <select name="approval_status" class="form-input hidable approve-hidable hidden" id="id_approval_status" style="width: 150px">
                            
                            <option selected value="scratch">Bảng nháp</option>
                        </select>
                            <!-- <span class="scratch text-white p-1 rounded-md shadow-2xl px-2 text-nowrap hidable approve-hidable">Bản nháp</span> -->
                    {% endif %}
            </div>
            {% if record %}
            <div class="w-4/12 text-center">
                <span class="{{ record|get_value:'received_status' }} text-white p-1 rounded-md shadow-2xl px-2 text-nowrap">{{ record|format_display:'received_status' }}</span>
            </div>
            <div class="w-4/12 text-center">
                <span class="{{ record|get_value:'paid_status' }} text-white p-1 rounded-md shadow-2xl px-2 text-nowrap">{{ record|format_display:'paid_status' }}</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>


<div class="w-full pt-4 px-6">
    <div class="flex flex-row justify-between gap-5 items-center py-1">
        <div class="flex flex-row gap-5 items-end py-2">
            <label for="students" class="text-theme">Bảng vật tư đã chọn</label>

            <a href="{% url 'form_base_supplies' %}?project={{ project_id }}" class="btn btn-success h-7 hidable hidden"
                up-preload="insert" up-target="#modal-sub:maybe">
                <span class="me-3"> Chọn vật tư </span>
            </a>

        </div>
    </div>
    <div class="form-input flex flex-col h-fit h-max-[300px] gap-4 pt-4 pb-6 overflow-y-scroll">
        <div class="border-b pb-0.5 flex w-full font-semibold">
            <span class="w-5/12"> Vật tư </span>
            <span class="w-1/12 text-center"> SL dự toán </span>
            <span class="w-1/12 text-center"> SL thiếu </span>
            <span class="w-1/12 text-center"> SL đặt </span>
            <span class="w-1/12 text-center"> SL T.toán </span>
            <span class="w-1/12 text-center"> SL đã nhận </span>
            <span class="w-2/12 text-center"> Ngày thêm </span>
        </div> 
        <div id="order-supplies">
        {% for order_supply in record.get_supply_order_base_supply_list %}
            <div  class="order-supply border-b py-2 flex items-center w-full" data-supply-id="{{ order_supply.base_supply.pk }}" data-supply-quantity="{{ order_supply.quantity }}">
                {% if record %}
                <input type="hidden" name="supply_id" value="{{ order_supply.base_supply.pk }}">
                <input type="hidden" name="supply_order_supply_id" value="{{ order_supply.pk }}">
                <input type="hidden" name="supply_quantity_{{ order_supply.base_supply.pk }}" value="{{ order_supply.quantity }}">
                {% endif %}
                <span class="w-5/12"> {{ order_supply.base_supply.supply_number }} - {{ order_supply.base_supply.supply_name }}</span>
                <span class="w-1/12 text-center"> {{ order_supply.estimate_quantity }} </span>
                <span class="w-1/12 text-center"> {{ order_supply.orderable_quantity }} </span>
                <span class="w-1/12 text-center"> {{ order_supply.quantity }} </span>
                <span class="w-1/12 text-center"> {{ order_supply.paid_quantity }} </span>
                <span class="w-1/12 text-center"> {{ order_supply.received_quantity }} </span>

                <div class="w-2/12 flex justify-center">
                    {{ record.last_saved|date:"d/m/Y" }}
                </div>

            </div>
        {% endfor %}    
        </div>
    
    </div>
</div>
