
.truncate-start {
  direction: rtl;
  /* Reverse the direction of the text */
  text-overflow: ellipsis;
  /* Apply ellipsis when overflow occurs */
  overflow: hidden;
  /* Ensure overflow content is not visible */
  white-space: nowrap;
  /* Prevent text from wrapping to the next line */
}

.truncate-start>* {
  direction: ltr;
  /* Correct the direction of the content inside */
}


.card-image-container {
  width: 100%;
  display: inline-block;
  /* Needed for aspect-ratio property */
}

.card-image-container img {
  width: 100%;
  aspect-ratio: 16 / 9;
  /* Sets the aspect ratio */
  object-fit: cover;
  /* Ensures image covers the entire container */
}

.modal-image-container {
  width: 100%;
  display: inline-block;
  /* Needed for aspect-ratio property */
}

.modal-image-container img {
  width: 100%;
  aspect-ratio: 4 / 3;
  /* Sets the aspect ratio */
  object-fit: cover;
  /* Ensures image covers the entire container */
}


.meme-container {
  width: 100%;
  display: inline-block;
  /* Needed for aspect-ratio property */
}

.meme-container img {
  width: 100%;
  aspect-ratio: 4 / 3;
  /* Sets the aspect ratio */
  object-fit: cover;
  /* Ensures image covers the entire container */
}


.protal-profile-image-container {
  width: 100%;
  display: inline-block;
  /* Needed for aspect-ratio property */
}

.protal-profile-image-container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  /* Sets the aspect ratio */
  object-fit: cover;
  /* Ensures image covers the entire container */
}



.glow {
  text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
}

/* SHAKING EFFECT FOR STUDENT CARDS */
@keyframes shake {
  0% {
    transform: translate(2px, 2px) rotate(0deg);
  }

  10% {
    transform: translate(-2px, -4px) rotate(-2deg);
  }

  20% {
    transform: translate(-6px, 0px) rotate(2deg);
  }

  30% {
    transform: translate(6px, 4px) rotate(0deg);
  }

  40% {
    transform: translate(2px, -2px) rotate(2deg);
  }

  50% {
    transform: translate(-2px, 4px) rotate(-2deg);
  }

  60% {
    transform: translate(-6px, 2px) rotate(0deg);
  }

  70% {
    transform: translate(6px, 2px) rotate(-2deg);
  }

  80% {
    transform: translate(-2px, -2px) rotate(2deg);
  }

  90% {
    transform: translate(2px, 4px) rotate(0deg);
  }

  100% {
    transform: translate(2px, -4px) rotate(-2deg);
  }
}

.shake {
  animation: shake 1s;
  animation-iteration-count: 10;
  /* The number of times the animation should repeat; you might want to increase or decrease this value. */
}


.just-updated {
  animation: just-updated 5s forwards;
}

@keyframes just-updated {
  0% {
    background-color: rgb(0, 153, 255);
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}



/* STATUS STYLES */
.enrolled {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.free_tuition {
  background-image: linear-gradient(310deg, #ad1794 0%, #ec2de9 100%);
}

.on_hold {
  background-image: radial-gradient(200px circle at 50% 70%, rgba(251, 207, 51, 0.3) 0, #fbcf33 100%);
}

.discontinued {
  background-image: linear-gradient(310deg, #ea0606 0%, #ff667c 100%);
}

.potential_customer {
  background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%);
}

.not_contacted_customer {
  background-image: linear-gradient(310deg, #8B4513 0%, #D2B48C 100%);
}

.not_potential_customer {
  background-image: linear-gradient(310deg, #000000 0%, #808080 100%);
}

.just_added {
  background-image: linear-gradient(310deg, #000000 0%, #808080 100%);
}

.archived {
  background-image: linear-gradient(310deg, #000000 0%, #808080 100%);
}


.income {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.expense {
  background-image: linear-gradient(310deg, #ea0606 0%, #ff667c 100%);
}





/* STATUS STYLES */
.active {
  background-image: linear-gradient(310deg, #17ad37 0%, #98ec2d 100%);
}

.pending {
  background-image: linear-gradient(310deg, #a68819 0%, #fbcf33 100%);
}

.inactive {
  background-image: linear-gradient(310deg, #ea0606 0%, #ff667c 100%);
}

.archived {
  background-image: linear-gradient(310deg, #000000 0%, #808080 100%);
}






.sticky-header {
  position: sticky;
  top: 50; /* Adjust this value according to the height of your navbar */
  z-index: 10; /* Ensure the header is above other content */
  background-color: #f7fafc; /* Same as bg-gray-200 */
}
