@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .btn {
        @apply 
            flex items-center justify-center
            px-3 pb-2 pt-2.5
            rounded-lg text-center
            text-sm font-medium leading-normal text-neutral-100
            shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)]
            hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)]
            active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)]
            focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)]
            focus:outline-none;
    }
    .btn-primary {
        @apply 
            bg-theme-500 dark:bg-theme-600 
            hover:bg-theme-600 dark:hover:bg-theme-700 
            active:bg-theme-700 dark:active:bg-theme-800 
            focus:bg-theme-600 dark:focus:bg-theme-700;
    }
    .btn-secondary {
        @apply  
            bg-gray-400 dark:bg-gray-500 
            hover:bg-gray-500 dark:hover:bg-gray-600 
            active:bg-gray-600 dark:active:bg-gray-700 
            focus:bg-gray-500 dark:focus:bg-gray-600;
    }
    .btn-danger {
        @apply 
            bg-red-500 text-white
            hover:bg-red-600 
            active:bg-red-700 
            focus:bg-red-800;
    }

    .btn-success {
        @apply 
            bg-green-500 text-white
            hover:bg-green-600 
            active:bg-green-700 
            focus:bg-green-800;
    }




    .btn-outline {
        @apply 
            bg-transparent border border-theme border-opacity-50 text-theme
            shadow-none hover:shadow-none active:shadow-none focus:shadow-none
            hover:bg-slate-200 dark:hover:bg-slate-800 
            active:bg-slate-300 dark:active:bg-slate-700 
            focus:bg-slate-200 dark:focus:bg-slate-800;
    }

    .form-input {
        @apply 
            w-full h-10 block px-3 pr-4
            rounded-lg border border-slate-300 dark:border-slate-600
            placeholder-gray-400 
            text-sm text-theme
            focus:border-theme-600 focus:ring-1 focus:ring-theme-700 focus:outline-none
            bg-white dark:bg-slate-700
            disabled:opacity-50 disabled:pointer-events-none;
    }

    .form-input-file {
        @apply 
            block h-10 w-full cursor-pointer
            rounded-lg border border-slate-300 dark:border-slate-600
            focus:border-theme-600 focus:ring-1 focus:ring-theme-700 focus:outline-none
            disabled:opacity-50 disabled:pointer-events-none
            placeholder-gray-400 text-sm dark:text-gray-400
            bg-white dark:bg-slate-700
            file:bg-slate-100 file:border-0 file:me-4
            file:py-3 file:px-4
            dark:file:bg-slate-800 dark:file:text-gray-400
            file:cursor-pointer;
        }



    .checkbox {
        @apply 
            w-5 h-5 cursor-pointer
            rounded-lg border border-gray-400 text-theme-700 
            focus:border-theme-600 focus:ring-2 focus:ring-theme-700 focus:outline-none;
    }

    .text-theme {
        @apply 
            text-theme-900 dark:text-theme-100;
    }


    .border-theme {
        @apply 
            border-theme-900 dark:border-theme-100;
    }

    .bg-theme {
        @apply 
            bg-theme-900 dark:bg-theme-100;
    }

    .card {
        @apply 
            rounded-2xl shadow-md bg-white dark:bg-slate-800
            border border-slate-300 dark:border-slate-900 border-opacity-50;
    }

    .reward {
        @apply 
            bg-yellow-300 dark:bg-yellow-700;
    }

    .present {
        @apply 
            bg-green-300 dark:bg-green-700;
    }

    .absent {
        @apply
            bg-red-300 dark:bg-red-700;
    }

    .late {
        @apply
            bg-blue-300 dark:bg-blue-700;
    }

    .left-early {
        @apply
            bg-purple-300 dark:bg-purple-700;
    }

    .not-checked {
        @apply
            bg-gray-400 dark:bg-gray-500;
    }

    .grayouted {
        @apply
            opacity-25;
    }

    .dropdown-menu {
        @apply 
            bg-gray-50 dark:bg-slate-700
            border border-gray-300 dark:border-gray-900 border-opacity-50 
            rounded-xl shadow-xl z-20 mt-1 text-theme;
    }

    .menu-item {
        @apply 
            flex cursor-pointer items-center 
            whitespace-nowrap p-3 hover:bg-gray-200 dark:hover:bg-gray-800 hover:bg-opacity-50 dark:hover:bg-opacity-30;
    }
    .menu-border {
        @apply 
            border-b border-gray-200 dark:border-gray-800 border-opacity-50  dark:border-opacity-40;
    }
}


@layer components {
    /* Default styles (for medium-sized screens) */
    #sidebar {
        max-width: 200px; /* Default max-width, used when neither media query applies */
        left: 0px;
    }

    @media (max-width: 639px) {
        #sidebar {
            left: -150px;
        }
    }

    /* Large screens */
    @media (min-width: 640px) {
        #sidebar {
            max-width: 80px; /* max-width for large screens */
        }
        .menu-text {
            opacity: 0;
        }
    }

    /* Small screens */
    @media (max-width: 639px) {
        #sidebar {
            max-width: 200px; /* max-width for small screens */
        }
    }

    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      border-radius: 10px;
      height: -20px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 10px;
    }

}









