{% load custom_tags %}
{% if success == "true" %}
<table id="display-table-records" class="table-auto w-full overflow-hidden mt-4 border border-slate-300 dark:border-slate-900 border-opacity-50 rounded-2xl shadow-md">
    <thead>
        <tr class="text-sm leading-normal text-theme rounded-2xl shadow-md bg-white dark:bg-slate-800
        border border-slate-300 dark:border-slate-900 border-opacity-50">
            <th rowspan="2" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">STT</th>
            <th rowspan="2" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Tên nhận dạng khi mua</th>
            <th rowspan="2" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Tên GPS</th>
            <th rowspan="2" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Lịch sử đơn giá</th>
            <th rowspan="2" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Số giờ làm</th>
            <th rowspan="2" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Doanh thu</th>

            <th colspan="4" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Chi phí xe</b></th>
            <th colspan="2" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Chi phí lương</b></th>

            <th rowspan="2" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Tổng Chi phí</th>
            <th rowspan="2" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Lợi nhuận</th>
            <th rowspan="2" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Ghi chú</th>
        </tr>

        <tr class="text-sm leading-normal text-theme shadow-md bg-white dark:bg-slate-800
        border border-slate-300 dark:border-slate-900 border-opacity-50">
            <th class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Nhiên liệu / Nhớt</th>
            <th class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Sửa xe + mua vật tư</th>
            <th class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Khấu hao xe</th>
            <th class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Lãi ngân hàng</th>
            <th class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Lương cơ bản</th>
            <th class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-left font-semibold">Lương theo giờ</th>
        </tr>

    </thead>
    {% if update %}
        {% for row in rows %}
            <tbody id="{{ row.row_id }}">
                <tr class=" bg-gray-50 hover:bg-blue-100 dark:bg-gray-800 dark:even:bg-gray-700 dark:hover:bg-gray-600">
                    {% for header in headers %}
                        {% if header != "row_id" %}
                            <td class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                <span style="white-space: pre;">{{ row|get_value:header }}<span>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                <script>
                    (function() {
                        const tbody = document.currentScript.closest('tbody'); // Find the parent tbody
                        const allTbodies = Array.from(tbody.parentElement.querySelectorAll('tbody')); // Get all tbodies in the table
                        const index = allTbodies.indexOf(tbody) + 1; // Calculate the order (1-based)
                        const firstCell = tbody.querySelector('td'); // Select the first cell
                        if (firstCell) {
                            firstCell.textContent = index; // Set the order in the first cell
                        }
                    })();
                </script>
            </tbody>
        {% endfor %}
    {% else %}
        {% for row in rows %}
            <tbody id="{{ row.row_id }}">
                <tr class=" bg-gray-50 hover:bg-blue-100 dark:bg-gray-800 dark:even:bg-gray-700 dark:hover:bg-gray-600">
                   <td colspan="99" class="px-6 py-3 border border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300"> 
                    
                    <div class="text-green-700 px-40 whitespace-pre-line" up-defer="insert"
                        up-target="#{{ row.row_id }}:maybe" up-href="{% url 'load_elements' %}?q={% encode_params page='page_transport_department' model='VehicleOperationRecord' start_date=row.start_date end_date=row.end_date tab='vehicle_revenue' elements='display_records'  filter_vehicle=row.vehicle update='true' %}">
                        {{ row.vehicle }} - Đang tải dữ liệu, xin vui lòng chờ ...
                    </div>
                   </td>
                </tr>
            </tbody>
        {% endfor %}
    {% endif %}
</table>


{% else %}
    <p class="text-red-600 text-center text-2xl my-10">{{ message }}</p>
{% endif %}