{% load custom_tags static %}

{% if select == 'attendance' %}
<a up-hungry id="record_{{ record.pk }}" href="/schools/{{ school.pk }}/attendances/{{ record.pk }}?get=form" up-target="#modal" up-history="false">
    <!-- Example: You might want to customize this based on your attendance model -->
    {% if attendance.status == 'present' %}
    <span class="py-1 px-2 rounded--xl present">
    {% elif attendance.status == 'absent' %}
        <span class="py-1 px-2 rounded-xl absent">
    {% elif attendance.status == 'late' %}
        <span class="py-1 px-2 rounded-xl late">
    {% elif attendance.status == 'left_early' %}
        <span class="py-1 px-2 rounded-xl left-early">
    {% endif %}
    {{ record.check_class }} 
    {% if record.is_payment_required %} - Paid {% endif %} - {{ record.learning_hours }}h</span>
</a>

        
{% else %}
<div up-hungry id="record_{{ record.pk }}" record-id="{{ record.pk }}" class="relative card card-record {{ record.style }}">
    
    {% if select == 'schools' %}
        <a href="{% url 'classes' record.pk %}">
            <div class="card-image-container">
                {% if record.image %}
                    <img src="{{ record.image.url }}" alt="{{ record.name }}" class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
                {% else %}
                    <img src="/media/images/default/default_class.webp" alt="Default School Image" class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
                {% endif %}
            </div>
        </a>
    {% elif select == 'classes' %}
        <a href="{% url 'classroom' school.pk record.pk %}" up-target="#title_bar, #db_tool_bar, #display_cards, #infor-bar">
            <div class="card-image-container">
                {% if record.image %}
                    <img src="{{ record.image.url }}" alt="{{ record.name }}" class="aspect-video object-cover rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
                {% else %}
                    <img src="/media/images/default/default_class.webp" alt="Default Class Image" class="aspect-video object-cover rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
                {% endif %}
            </div>
        </a>
    {% elif select == 'classroom' %}
    <div class="relative">
        <div class="image-profile hidden">
            <div class=" card-image-container">
                {% if record.image %}
                    <img src="{{ record.image.url }}" alt="{{ record.name }}" class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50"/>
                {% else %}
                    <img src="/media/images/default/default_profile.webp" alt="Default Classroom Image" class=" rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50"/>
                {% endif %}
                <div class="reward-points absolute top-0 right-0 text-red-500 dark:text-red-600 m-2 px-2 py-1 font-bold text-4xl glow">
                    {{ record.reward_points }}
                </div>
            </div>
        </div>
        <div class="image-portrait hidden">
            <div class="card-image-container">
                {% if record.image_portrait %}
                    <img src="{{ record.image_portrait.url }}" alt="{{ record.name }}" class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50"/>
                {% else %}
                    <img src="/media/images/default/default_profile.webp" alt="Default Classroom Image" class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50"/>
                {% endif %}
                <div class="absolute top-0 right-0 text-red-500 dark:text-red-600 m-2 px-2 py-1 font-bold text-4xl glow">
                    {{ record.reward_points }}
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="pt-3"></div>
    {% endif %}
    
    <div class="flex justify-between items-start px-2 relative">
        <div class="w-11/12">
            <h3 class="text-md font-semibold text-theme text-center pl-1 truncate">
                {% if select == 'schools' or select == 'classroom' %}
                {% elif select == 'students' %}
                    G{{ record.student_id|stringformat:"04d"}} - 
                {% else %}
                    {{ record.secondary_id|stringformat:"04d"}} - 
                {% endif %}
                {{ record }}
            </h3>
        </div>
        <div class="menu relative text-sm opacity-100">

            <div class="menu-button flex flex-col justify-between items-center cursor-pointer gap-y-0.5 py-1.5 w-6 rounded-xl hover:bg-gray-200 hover:dark:bg-gray-700" onclick="event.stopPropagation();">
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
            </div>

                <!-- Dropdown Context Menu For Record-->
                <ul  id="menu-card-context" class="dropdown-menu absolute right-0 hidden" >
                    <!-- Add record id by js -->
                    <a id="record-edit" class="" 
                        {% if select == 'schools' %}
                            href="/schools/{{record.pk}}/?get=form" 
                        {% elif select == 'classes' %}
                            href="/schools/{{school.pk}}/classes/{{record.pk}}/?get=form"
                        {% elif select == 'students' %}
                            href="/schools/{{school.pk}}/students/{{record.pk}}/?get=form"
                        {% elif select == 'CRM' %}
                            href="/schools/{{school.pk}}/crm/{{record.pk}}/?get=form"
                        {% elif select == 'financial_transactions' %}
                            href="/schools/{{record.school.pk}}/financialtransactions/{{record.pk}}/?get=form"
                        {% elif select == 'classroom' %}
                            href="/schools/{{school.pk}}/classes/0/{{record.pk}}/?get=form"
                        {% endif %} 
                        up-target="#modal" up-history="false">
                        <i class="fa fa-school ml-3 mr-5"></i> 
                        Edit information
                    </a>

                    {% if select == 'students'%}
                        <a id="pay_tuition_old" class="menu-item menu-item-border"
                            href="/schools/{{school.pk}}/students/{{record.pk}}/pay-tuition-old/?get=form"
                            up-target="#modal" up-history="false">
                            <i class="fa fa-money ml-3 mr-5"></i> 
                            Pay tuition (Cách tính cũ)
                        </a>

                        <a id="pay_tuition" class="menu-item menu-item-border"
                            href="/schools/{{school.pk}}/students/{{record.pk}}/pay-tuition/?get=form"
                            up-target="#modal" up-history="false">
                            <i class="fa fa-money ml-3 mr-5"></i> 
                            Pay tuition (Cách tính mới)
                        </a>
                    {% endif %}
                    {% if select == 'students' or select == 'CRM' or select == 'classroom' %}
                        <a id="attendance-calendar" class="menu-item menu-item-border"
                            href="/schools/{{school.pk}}/students/{{record.pk}}/attendance-calendar/"
                            target="_blank"
                            up-target="#title_bar, #db_tool_bar, #display_cards, #infor-bar">
                            <i class="fa fa-calendar ml-3 mr-5"></i> 
                            Attendance calendar
                        </a>
                    {% endif %}

                    {% if select == 'schools' %}
                        <a id="record-share" class="menu-item menu-item-bot">
                            <i class="fa fa-school ml-3 mr-5 w-5"></i> 
                            Share your school
                        </a>
                    {% endif %}
                </ul>
        </div>

    </div>
    {% if select == 'classroom' %}
        <div class="attendance-note px-2 pt-2 hidden">
                    <input type="text" name="attendance_note_{{ record.id }}" value="" placeholder="Write your note ..." class="form-input px-2 pt-2" id="attendance_note_{{ record.id }}" onclick="event.stopPropagation();">
        </div>
    {% endif %}

    <div class="flex flex-col text-cyan-600 dark:text-cyan-500 text-sm px-4 pb-3 ">
        {% if select == 'schools' %}
            <!-- Keep <p> for paragraphs of text -->
            <div class="note whitespace-pre-line"> {{ record.description }} </div>

        {% elif select == 'classes' %}
            <!-- Use div for flex container, span for inline text elements -->
            <span class="{{ record.status }} text-white p-1 rounded-md absolute shadow-2xl top-5 right-5 px-2">{{ record.get_status_display }}</span>
            {% if record.zalo %}
                <a class="absolute shadow-2xl top-16 right-5 " href="{{ record.zalo }}" target="_blank">
                    <img src="{% static 'images/icons/zalo.png' %}" alt="zalo" class="w-12 h-12"/>
                </a>
            {% endif %}
            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-users w-6"></i>
                    <span class="me-2">Total: </span>
                    <span">{{ record.get_student_number }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-users w-6"></i>
                    <span class="me-2">Charged:</span>
                    <span>{{ record.get_charge_student_number }}</span>
                </div>
            </div>
            <div class="flex-1 mr-2 h-10 truncate flex items-center">
                <i class="fas fa-clock w-6"></i>
                <span>{{ record.time_frame }}</span>
            </div>
            <!-- Keep <p> for paragraphs of text -->
            <div class="mt-2 note whitespace-pre-line"> {{ record.note }} </div>

        {% elif select == 'students' or select == 'CRM' %}
            <!-- Use div for flex container, span for inline text elements -->
            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-user-check w-6"></i>
                    <span class="{{ record.status }} text-white p-1 rounded-md">{{ record.get_status_display }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-venus-mars w-6"></i>
                    <span>{{ record.get_gender_display }}</span>
                </div>
            </div>
            
            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-birthday-cake w-6"></i>
                    <span>{{ record.date_of_birth|date:"d-m-Y" }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-clock w-6"></i> 
                    <span>{{ record.created_at|date:"d-m-Y" }}</span>
                </div>
            </div>
    
            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-users w-6"></i>
                    <span class="truncate-start">{{ record.mother }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-phone w-6"></i>
                    <span>{{ record.mother_phone }}</span>
                </div>
            </div>

            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-users w-6"></i>
                    <span class="truncate-start">{{ record.father }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-phone w-6"></i>
                    <span>{{ record.father_phone }}</span>
                </div>
            </div>
            

            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-dollar-sign w-6"></i>
                    <span>{{ record.balance|format_vnd }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-star w-6"></i>
                    <span>{{ record.reward_points }}</span>
                </div>
            </div>

            <div class="flex">
                <div class="flex-1 mr-2 h-10 flex items-start justify-start">
                    <i class="fas fa-chalkboard w-6 pt-1"></i>
                    <div class="h-10 overflow-y-scroll">
                            {% for student_class in record.get_student_classes %}
                                {{ student_class.class_name }}
                                {% if student_class.is_payment_required %} (charge) {% endif %}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>

            <div class="note flex-col text-blue-500 pt-2">
                <div class="mr-2 flex items-start">
                    <i class="fas fa-sticky-note w-6 pt-1"></i>
                    <!-- Button add new note -->
                    {% if select == 'students' %}
                        <a type="button" class="add-note btn btn-outline px-1 py-0 text-sm"
                            href="/schools/{{ school.pk }}/students/{{ record.pk }}/note/?get=form" up-target="#modal" up-history="false">
                            Add quick note
                        </a>
                    {% elif select == 'CRM' %}
                        <a type="button" class="add-note btn btn-outline px-1 py-0 text-sm"
                            href="/schools/{{ school.pk }}/crm/{{ record.pk }}/note/?get=form" up-target="#modal" up-history="false">
                            Add quick note
                        </a>
                    
                        <a type="button" class="btn btn-outline px-1 py-0 text-sm mx-2"
                            href="/schools/{{ school.pk }}/students/{{ record.pk }}/convert/?get=form" up-target="#modal" up-history="false">
                            Convert student
                        </a>
                    {% endif %}
                </div>


                <div class="pt-3">
                    <div class="max-h-40  overflow-y-scroll">
                        <div class="whitespace-pre-line"> {{ record.note }} </div>
                    </div>
                </div>
            </div>


        {% elif select == 'classess' %}
            <!-- Use div for consistency; span for text -->
            <div class="h-10 truncate flex items-center">
                <i class="fas fa-user-check w-5"></i>
                <span>{{ record.name }}</span>
            </div>
            <div class="h-10 truncate flex items-center">
                <i class="fas fa-venus-mars w-5"></i>
                <span>{{ student }}</span>
            </div>
    
        {% elif select == 'financial_transactions' %}
            <div class="h-10 truncate flex items-center">
                <i class="fas fa-star w-5"></i>
                <spa class="{{ record.income_or_expense }} text-white p-1 rounded-md">{{ record.get_income_or_expense_display }}</span>
            </div>
            <div class="h-10 truncate flex items-center">
                <i class="fas fa-dollar-sign w-5"></i>
                <span>{{ record.amount|format_vnd }}</span>
            </div>
            <div class="h-10 truncate flex items-center">
                <i class="fas fa-users w-5"></i>
                <span>{{ record.receiver }}</span>
            </div>

            
            {% if record.student %}
                <div class="h-10 truncate flex items-center">
                    <i class="fas fa-user-check w-5"></i>
                    <span>{{ record.student }}</span>
                </div>
            {% endif %}
            
            {% if record.student_balance_increase %}
                <div class="h-10 truncate flex items-center">
                    <i class="fas fa-arrow-up w-5"></i>
                    <span>{{ record.student_balance_increase|format_vnd }}</span>
                </div>
            {% endif %}

            <div class="h-10 truncate flex items-center">
                <i class="fas fa-clock w-5"></i>
                <span>{{ record.created_at|date:"d-m-Y H:i" }}</span>
            </div>

            <div class="note h-10 truncate flex items-center">
                <i class="fas fa-comment w-5"></i>
                <span>{{ record.note }}</span>
            </div>

            <div class="grid grid-cols-4 pt-2 gap-2 items-center justify-center">
                {% if record.image1 and 'default' not in record.image1.url%}
                    <div class="modal-image-container">
                        <a target="_blank" href="{{ record.image1.url }}">
                            <img src="{% get_thumbnail record.image1.url %}" alt="transaction image" class="mx-auto rounded-xl border border-slate-300 dark:border-slate-600">
                        </a>
                    </div>
                {% endif %}
                {% if record.image2 and 'default' not in record.image2.url%}
                    <div class="modal-image-container">
                        <a target="_blank" href="{{ record.image2.url }}">
                            <img src="{% get_thumbnail record.image2.url %}" alt="transaction image" class="mx-auto rounded-xl border border-slate-300 dark:border-slate-600">
                        </a>
                    </div>
                {% endif %}
                {% if record.image3 and 'default' not in record.image3.url%}
                <div class="modal-image-container">
                    <a target="_blank" href="{{ record.image3.url }}">
                        <img src="{% get_thumbnail record.image3.url %}" alt="transaction image" class="mx-auto rounded-xl border border-slate-300 dark:border-slate-600">
                    </a>
                </div>
                {% endif %}
                {% if record.image4 and 'default' not in record.image4.url%}
                <div class="modal-image-container">
                    <a target="_blank" href="{{ record.image4.url }}">
                        <img src="{% get_thumbnail record.image4.url %}" alt="transaction image" class="mx-auto rounded-xl border border-slate-300 dark:border-slate-600">
                    </a>
                </div>
                {% endif %}
            </div>

        {% endif %}
    </div>
    
    
</div>
{% endif %}

