{% load static %}


<div id="record_{{ record.pk }}" record-id="{{ record.pk }}" class="relative card card-record {{ record.style }}">


    <a href="">
        <div class="card-image-container">
            {% if record.image %}
            <img src="{{ record.image.url }}" alt="{{ record.name }}"
                class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
            {% else %}
            <img src="/media/images/default/default_class.webp" alt="Default School Image"
                class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
            {% endif %}
        </div>
    </a>

    <div class="flex justify-between items-start px-2 relative">
        <div class="w-11/12">
            <h3 class="text-md font-semibold text-theme text-center pl-1 truncate">
                {{ record }}
            </h3>
        </div>
        <div class="menu relative text-sm opacity-100">

            <div class="menu-button flex flex-col justify-between items-center cursor-pointer gap-y-0.5 py-1.5 w-6 rounded-xl hover:bg-gray-200 hover:dark:bg-gray-700"
                onclick="event.stopPropagation();">
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
            </div>

            <!-- Dropdown Context Menu For Record-->
            <ul id="menu-card-context" class="dropdown-menu absolute right-0 hidden">
                <!-- Add record id by js -->
                <a id="record-edit" class="" href=""></a>
                Edit information
                </a>
            </ul>
        </div>


        <div class="flex flex-col text-cyan-600 dark:text-cyan-500 text-sm px-4 pb-3 ">

            <div class="note whitespace-pre-line"> {{ record.description }} </div>


            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-users w-6"></i>
                    <span class="me-2">Total: </span>
                    <span">{{ record.get_student_number }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-users w-6"></i>
                    <span class="me-2">Charged:</span>
                    <span>{{ record.get_charge_student_number }}</span>
                </div>
            </div>


            <div class="flex">
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-users w-6"></i>
                    <span class="truncate-start">{{ record.father }}</span>
                </div>
                <div class="flex-1 mr-2 h-10 truncate flex items-center">
                    <i class="fas fa-phone w-6"></i>
                    <span>{{ record.father_phone }}</span>
                </div>
            </div>

        </div>


    </div>