
<!-- Cards -->
{% if card == 'card_project'  or card == 'card_project_insert' %}
    <div hx-swap-oob="afterbegin" id="display_cards" class="display_cards opacity-0 w-full flex justify-center
    gap-6 grid mt-8">
        {% for record in records %}
            {% include 'components/card.html' %}
        {% endfor %}
    </div>
{% elif card == 'card_job' %}
    <div class="overflow-x-auto mt-8">
        <table  class="table-auto w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left">Name</th>
                    <th scope="col" class="px-6 py-3 text-left">Category</th>
                    <th scope="col" class="px-6 py-3 text-left">Unit</th>
                    <th scope="col" class="px-6 py-3 text-left">Quantity</th>
                    <th scope="col" class="px-6 py-3 text-left">Description</th>
                    <th scope="col" class="px-6 py-3 text-left">Start Date</th>
                    <th scope="col" class="px-6 py-3 text-left">End Date</th>
                    <th scope="col" class="px-6 py-3 text-left">Created At</th>
                </tr>
            </thead>
            <tbody  id="data"  class="bg-white divide-y divide-gray-300">
                {% for record in records %}
                    {% include 'components/card.html' %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% elif card == 'card_job_insert' %}

    <template hx-swap-oob="beforeend:#data" class="bg-white divide-y divide-gray-300">
        {% for record in records %}
            {% include 'components/card.html' %}
        {% endfor %}

    </template>
{% endif %}

