{% load custom_tags %}
{% load humanize %}
<!-- Cards -->
{% if model == 'Project' %}
    <div id="display-records" class="display-cards opacity-0 w-full flex justify-center
    gap-6 grid mt-5">
        {% for record in records %}
            <div id="record_{{ record.pk }}" record-id="{{ record.pk }}" class="relative card card-record {{ record.style }}">
                <a href="{% url 'page_each_project' record.pk %}">
                    <div class="card-image-container">
                        {% if record.image %}
                        <img src="{{ record.image.url }}" alt="{{ record.name }}"
                            class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
                        {% else %}
                        <img src="/media/images/default/default_project.webp" alt="Default School Image"
                            class="rounded-2xl border-b border-slate-300 dark:border-slate-900 border-opacity-50" />
                        {% endif %}
                    </div>
                </a>
    
                <div class="flex justify-between items-start px-2 relative">
                    <div class="w-11/12">
                        <h3 class="text-md font-semibold text-theme text-center pl-1 truncate">
                            {{ record }}
                        </h3>
                    </div>
    
                    <div class="menu relative text-sm opacity-100">
    
                        <div class="menu-button flex flex-col justify-between items-center cursor-pointer gap-y-0.5 py-1.5 w-6 rounded-xl hover:bg-gray-200 hover:dark:bg-gray-700"
                            onclick="event.stopPropagation();">
                            <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                            <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                            <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                        </div>
    
                        <!-- Dropdown Context Menu For Record-->
                        <ul id="menu-card-context" class="dropdown-menu absolute right-0 hidden">
                            <!-- Add record id by js -->
                        <a id="record-edit" class="menu-item menu-border rounded-t-xl rounded-b-xl"
                                href="{{ record.edit_form_url }}" up-target=":none">
                                <i class="fa fa-school ml-3 mr-5" aria-hidden="true"></i>
                                Sửa thông tin
                            </a>
    
                        </ul>
                    </div>
                </div>
    
                <div class="flex flex-col text-cyan-600 dark:text-cyan-500 text-sm px-4 pb-3 ">
                    <!-- Use div for flex container, span for inline text elements -->
                    <span class="{{ record.status }} text-white p-1 rounded-md absolute shadow-2xl top-5 right-5 px-2">{{ record.get_status_display }}</span>
    
                    <div class="flex">
                        <div class="flex-1 mr-2 h-10 truncate flex items-center">
                            <i class="fas fa-regular fa-calendar w-6" aria-hidden="true"></i>
                            <span>Từ {{ record.start_date|date:"d/m/Y" }}</span>
                        </div>
                        <div class="flex-1 mr-2 h-10 truncate flex items-center">
                            <span> đến {{ record.end_date|date:"d/m/Y" }}</span>
                        </div>
                    </div>
    
                    <div class="flex flex-col gap-2">
                        <div class="w-full bg-gray-300 rounded-full dark:bg-gray-700 text-nowrap">
                                <div class="bg-{{ record.progress_by_time.status }}-600 text-xs font-medium text-white  text-center p-0.5 leading-none rounded-full" style="width: {{ record.progress_by_time.percent }}%">
                                    {% if record.progress_by_time.status != 'gray' and record.progress_by_time.status != 'green' %}
                                        {{ record.progress_by_time.progress }} / {{ record.progress_by_time.duration }} ngày
                                    {% else %}
                                        {{ record.get_status_display }}
                                    {% endif %}
                                </div>

                        </div>

                        <div class="w-full bg-gray-300 rounded-full dark:bg-gray-700 text-nowrap">
                                <div class="bg-{{ record.progress_by_quantity.status }}-600 text-xs font-medium text-white  text-center p-0.5 leading-none rounded-full" style="width: {{ record.progress_by_quantity.percent }}%">
                                    {{ record.progress_by_quantity.total_quantity_reported|intcomma }} / {{ record.progress_by_quantity.total_quantity|intcomma }} khối lượng
                                </div>

                        </div>
                    </div>


                    <!-- Keep <p> for paragraphs of text -->
                    <div class="mt-2 note whitespace-pre-line"> {{ record.description }} </div>
                </div>
            </div>

        {% endfor %}
    </div>


{% else %}
<div id="display-records" >
    <table id="display-table-records" class="table-auto w-full overflow-hidden mt-4 border border-slate-300 dark:border-slate-900 border-opacity-50 rounded-2xl shadow-md">
        {% if not update %}
        <thead>
            <tr class="text-sm leading-normal text-theme rounded-2xl shadow-md bg-white dark:bg-slate-800
            border border-slate-300 dark:border-slate-900 border-opacity-50">
                {% for header in headers %}
                    <th class="px-6 py-3 text-left font-semibold">{{ header }}</th>
                {% endfor %}
                {% if model == 'Job' %}
                    <th class="px-6 py-3 text-left font-semibold">Tiến độ</th>
                {% endif %}
                <th></th>
            </tr>
        {% endif %}

        </thead>
        {% for record in records %}
            <tbody id="record_{{ record.pk }}" record-id="{{ record.pk }}" class="{{ record.style }}">
                <tr class="{{ record.style }} bg-gray-50 hover:bg-blue-100 dark:bg-gray-800 dark:even:bg-gray-700 dark:hover:bg-gray-600">
                    {% for field in fields %}
                    <td class="px-6 py-3 border-b border-gray-200 text-sm text-gray-700 dark:text-gray-300">
                            
                        {% if field == 'status' %} 
                            <span class="{{ record.status }} text-white p-1 rounded-md shadow-2xl top-5 right-5 px-2 text-nowrap">{{ record|format_display:field }}</span>
                        {% else %}
                            {{ record|format_display:field }}
                        {% endif %} 
                    </td>
                    {% endfor %}
    

                    <td class="px-6 py-3 border-b border-gray-200 text-sm text-gray-700 dark:text-gray-300">
                        <div class="flex flex-col gap-2">
                            <div class="w-full bg-gray-300 rounded-full dark:bg-gray-700 text-nowrap">
                                    <div class="bg-{{ record.progress_by_time.status }}-600 text-xs font-medium text-white  text-center p-0.5 leading-none rounded-full" style="width: {{ record.progress_by_time.percent }}%">
                                        {% if record.progress_by_time.status != 'gray' and record.progress_by_time.status != 'green' %}
                                            {{ record.progress_by_time.progress }} / {{ record.progress_by_time.duration }} ngày
                                        {% else %}
                                            {{ record.get_status_display }}
                                        {% endif %}
                                    </div>

                            </div>

                            <div class="w-full bg-gray-300 rounded-full dark:bg-gray-700 text-nowrap">
                                    <div class="bg-{{ record.progress_by_quantity.status }}-600 text-xs font-medium text-white  text-center p-0.5 leading-none rounded-full" style="width: {{ record.progress_by_quantity.percent }}%">
                                        {{ record.progress_by_quantity.total_quantity_reported|intcomma }} / {{ record.progress_by_quantity.total_quantity|intcomma }} khối lượng
                                    </div>

                            </div>
                        </div>
                    </td>



                    <td>
                        <div class="menu relative text-sm opacity-100">
    
                            <div class="menu-button flex flex-col justify-between items-center cursor-pointer gap-y-0.5 py-1.5 w-6 rounded-xl hover:bg-gray-200 hover:dark:bg-gray-700"
                                onclick="event.stopPropagation();">
                                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                                <div class="w-1 h-1 bg-theme-900 dark:bg-theme-100 rounded-full"></div>
                            </div>
    
                            <!-- Dropdown Context Menu For Record-->
                            <ul id="menu-card-context" class="dropdown-menu absolute right-0 hidden">
                                <!-- Add record id by js -->
                            <a id="record-edit" class="menu-item menu-border rounded-t-xl rounded-b-xl"
                                    href="{{ record.edit_form_url }}" up-target=":none">
                                    <i class="fa fa-school ml-3 mr-5" aria-hidden="true"></i>
                                    Sửa thông tin
                                </a>
    
                            </ul>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        {% endfor %}
    </table>
</div>
{% endif %}


