
<div id="infor-bar" class="card max-lg:hidden" 
        style="height: 89vh; width:300px;">
    <div class="p-4">
        <p class="text-2xl text-center font-semibold text-theme">Details</p>
        <hr class="border-t border-gray-300 dark:border-gray-700 my-3" />
        <ul class="mt-5">
            <a href="/" class="flex ml-2.5 items-end text-slate-500 dark:text-slate-300 ">
                <span class="fa fa-home text-2xl" aria-hidden="true"></span>
                <span class="menu-text mx-3 transition-all duration-300">Home</span>
            </a>
        </ul>
    </div>
</div>    