{% load custom_tags %}
<div up-hungry id="modal">
    <div id="modal-body" class="modal z-40 fixed inset-0 h-screen w-full flex justify-center overflow-auto bg-slate-600 bg-opacity-60">
        <!-- Modal Content -->
        <div class="relative top-10 mx-4 card h-12/12 w-11/12 mb-28">
                <h3 class="mt-4 mb-4 text-xl font-bold leading-6 text-center text-theme">Bảng dự toán</h3>

                <button id='cancel-modal' type="button" class="cancel-modal absolute top-5 right-4 btn btn-secondary rounded-full text-nowrap h-6 w-6 text-sm" onclick="document.getElementById('modal-sub-body').remove();">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>

                <div class="h-full">
                    {% csrf_token %}
                    <div class="flex flex-col h-full justify-between gap-5 text-sm text-theme">
                        <div class="flex flex-col h-fit h-max-[300px] gap-4 pt-4 pb-6 overflow-y-scroll mx-5">
                            <div class="border-b pb-0.5 flex w-full font-semibold">
                                <span class="w-5/12"> Bộ phận </span>
                                <span class="w-1/12 text-center"> Số lượng </span>
                                <span class="w-2/12 text-center"> Nhận hàng </span>
                                <span class="w-2/12 text-center"> Sửa chữa </span>
                                <span class="w-2/12 text-center"> Ngày thêm </span>
                            </div> 
                            <div id="supplies">
                                {% for supply in supplies %}
                                {% endfor %}
                            </div>
                            

                        </div>

                        <div class="flex flex-col justify-center gap-5">
                            <div class="flex justify-center gap-5">
                                <button type="submit" id="submit-slections" class="submit btn btn-primary rounded-full w-28">
                                    Cập nhật
                                </button>
                                <button id='cancel-modal' type="button" class="cancel-modal btn btn-secondary rounded-full w-28" onclick="document.getElementById('modal-body').remove();">
                                    Hủy bỏ
                                </button>
                            </div>
                            <div class="h-28"></div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script>
    </script>
</div>


