{% load custom_tags %}
<div id="modal">
    <div id="modal-body" class="modal z-40 fixed inset-0 bg-slate-600 bg-opacity-60 h-full w-full flex justify-center overflow-auto">
        <!-- Modal Content -->
        <div class="relative top-16 mx-4 card h-fit w-full sm:w-fit mb-28  pb-8">
            <h3 class="mt-7 mb-6 text-xl font-bold leading-6 text-center text-theme">{{ title }}</h3>

            <button id='cancel-modal' type="button" class="absolute top-5 right-4 btn btn-secondary rounded-full text-nowrap h-6 w-6 text-sm" onclick="document.getElementById('modal-body').remove();">
                <i class=" fa fa-times" aria-hidden="true"></i>
            </button>

            {% if modal == "modal_VehicleMaintenance" or modal == "modal_SupplyOrder" or modal == "modal_SubJobOrder" %}
                {% if record %}
                    <button id="btn-edit" class="absolute top-5 left-4 btn btn-primary rounded-full text-nowrap h-8 w-28 text-sm"
                            onclick="toggleModalEdit(this)">
                        <i class="fas fa-eye me-3" style="font-size: 16px;"></i>
                        Chỉ xem
                    </button>
                    <button id="btn-view" class="absolute top-5 left-4 btn btn-primary rounded-full text-nowrap h-8 w-28 text-sm hidden"
                            onclick="toggleModalEdit(this)">
                        <i class="fas fa-pencil me-3" style="font-size: 16px;"></i>
                        Chỉnh sửa
                    </button>
                    {% if modal == "modal_VehicleMaintenance" %}
                    <a href="{% url 'form_maintenance_images' record.pk %}" class="absolute top-5 left-36 btn btn-primary rounded-full text-nowrap h-8 w-28 text-sm"
                         up-preload="insert" up-target="#modal-sub:maybe">
                         Xem hình ảnh
                     </a>
                    {% endif %}

                {% else %}
                    <script>
                        function toggleModalEdit() {
                            const modal = document.getElementById('modal');
                            modal.querySelectorAll('.hidable').forEach(el => el.classList.remove('hidden'));
                            modal.querySelectorAll('.auto-field').forEach(el => el.disabled = false);
                        }
                        toggleModalEdit();
                    </script>
                {% endif %}

                {% if record.approval_status == "scratch" or record.approval_status == "need_update" %}
                    <script>
                    function toggleModalEdit(button) {
                        const modal = button.closest('.modal');
                        const hideables = modal.querySelectorAll('.hidable');
                        const autoFields = modal.querySelectorAll('.auto-field');
                        const approveHideables = modal.querySelectorAll('.approve-hidable');
                        hideables.forEach(el => el.classList.toggle('hidden'));
                        autoFields.forEach(el => el.disabled = !el.disabled);
                        document.getElementById('btn-view').classList.toggle('hidden');
                        document.getElementById('btn-edit').classList.toggle('hidden');
                    }
                    </script>
                {% elif record.approval_status == "wait_for_approval" %}
                    {% if permissions.approve %}
                    <script>
                        function toggleModalEdit(button) {
                            const modal = button.closest('.modal');
                            const hideables = modal.querySelectorAll('.hidable');
                            const autoFields = modal.querySelectorAll('.auto-field');
                            const approveHideables = modal.querySelectorAll('.approve-hidable');
                            hideables.forEach(el => el.classList.toggle('hidden'));
                            autoFields.forEach(el => el.disabled = !el.disabled);
                            document.getElementById('btn-view').classList.toggle('hidden');
                            document.getElementById('btn-edit').classList.toggle('hidden');
                        }
                    </script>
                    {% else %}
                    <script>
                        function toggleModalEdit(button) {
                            alert("Không thể chỉnh sửa khi đang chờ phê duyệt")
                        }
                    </script>
                    {% endif %}

                {% elif record.approval_status == "approved" %}
                    {% if permissions.approve %}
                    <script>
                        function toggleModalEdit(button) {
                            const modal = button.closest('.modal');
                            const approveHideables = modal.querySelectorAll('.approve-hidable');
                            approveHideables.forEach(el => el.classList.toggle('hidden'));
                            document.getElementById('btn-view').classList.toggle('hidden');
                            document.getElementById('btn-edit').classList.toggle('hidden');
                        }
                    </script>
                    {% else %}
                    <script>
                        function toggleModalEdit(button) {
                            const modal = button.closest('.modal');
                            const approveHideables = modal.querySelectorAll('.approve-hidable');
                            approveHideables.forEach(el => el.classList.toggle('hidden'));
                            document.getElementById('btn-view').classList.toggle('hidden');
                            document.getElementById('btn-edit').classList.toggle('hidden');
                        }
                    </script>
                    {% endif %}
                {% elif record.approval_status == "rejected" %}
                    {% if permissions.approve %}
                    <script>
                        function toggleModalEdit(button) {
                            const modal = button.closest('.modal');
                            const approveHideables = modal.querySelectorAll('.approve-hidable');
                            approveHideables.forEach(el => el.classList.toggle('hidden'));
                            document.getElementById('btn-view').classList.toggle('hidden');
                            document.getElementById('btn-edit').classList.toggle('hidden');
                        }
                    </script>
                    {% else %}
                    <script>
                        function toggleModalEdit(button) {
                            alert("Không thể chỉnh sửa khi phiếu bị từ chối phê duyệt.")
                        }
                    </script>
                    {% endif %}
                {% endif %}
                
            {% endif %}
            <!-- Result could be a html card if success or a new form modal with error if fail, if success, the card will be added right after the div cards, else the form will be the same place but display as fixed -->
            <form id="modal_form" enctype="multipart/form-data" method="post"
                   action="{{ form_url }}" up-submit
                    {% if record %}
                        up-target="#modal:maybe, #record_{{ record.pk }}:maybe"
                    {% else %}
                        up-target="#modal:maybe, #display-table-records:before:maybe, #display-records:before:maybe"
                    {% endif %}>

                {% if form.non_field_errors %}
                <div class="px-6 py-3">
                    {% for error in form.non_field_errors %}
                        <p class="text-red-500 whitespace-pre-line">{{ error }}</p>
                    {% endfor %}
                </div>  
                {% endif %}
                <p id="fileError" class="px-6 py-3 text-red-500 hidden"></p>



                {% if form.fields|length >= 13 or modal == 'modal_VehicleMaintenance'  or modal == 'modal_SupplyOrder' or modal == 'modal_SubJobOrder' %}
                <div class="grid grid-cols-1 sm:grid-cols-3 sm:w-[1100px] gap-4 px-6">
                
                {% elif form.fields|length >= 6 and form.fields|length < 13 %}
                <div class="grid grid-cols-1 sm:grid-cols-2 sm:w-[700px] gap-4 px-6">

                {% else %}
                <div class="grid grid-cols-1 w-[500px]  gap-4 px-6">
                {% endif %}

                    {% if project_id and model != 'ProjectUser' and model != 'Permission'  %}  
                        <input type="hidden" name="project" value="{{ project_id }}">
                    {% endif %}

                    {% if model != 'Permission' and model != 'ProjectUser' and form.user.name == 'user' %} 
                        {% if record.user %}
                            <input type="hidden" name="user" value="{{ record.user.id }}">
                        {% else %}
                            <input type="hidden" name="user" value="{{ user.id }}">
                        {% endif %}
                    {% endif %}

                    {% csrf_token %}
                    {% for field in form %}
                        {% if model == 'Permission' and field.name != 'note'  or  field.name != 'user' and field.name != 'approval_status' and field.name != 'project' and field.name != 'description' and field.name != 'note' or model == "ProjectUser" and field.name == 'project' or model == 'ProjectUser' and field.name == 'user' %}
                        <div class="">
                                <div>
                                    <label for="{{ field.name }}" class="text-theme">{{ field.label }}</label>
                                    {{ field }}    
                                
                                    {% if field.help_text %}
                                        <p class="text-blue-500 px-3">{{ field.help_text }}</p>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p class="text-red-500 px-3">{{ error }}</p>
                                    {% endfor %}
                                    
                                </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                    {% if form.description.name == 'description' %}  
                    <div class="col-span-full">
                            <label for="description" class="text-theme">Mô tả</label>
                            {{ form.description }}    
                    </div>
                    {% endif %}

                    {% if form.note.name == 'note' %}  
                    <div class="col-span-full">
                            <label for="note" class="text-theme">Ghi chú</label>
                            {{ form.note }}    
                    </div>
                    {% endif %}

                    {% if record.provider %}  
                    <div class="col-span-full flex items-center w-full flex-col justify-center bg-white dark:bg-gray-800 shadow-lg rounded-lg p-4 border border-blue-300 dark:border-blue-500">
                        <span class="text-lg font-bold text-green-600  uppercase tracking-wide">
                            🔹 Thông tin thanh toán 🔹
                        </span>
                        <div>
                            <span class="text-xl text-gray-900 dark:text-gray-100 font-semibold mt-2">
                                {{ record.provider.bank_name }} - 
                            </span>
                            <span class="text-xl text-blue-500 dark:text-blue-400 font-semibold">
                                {{ record.provider.account_holder_name }} - 
                            </span>
                            <span class="text-xl text-red-500 dark:text-red-400 font-semibold">
                                {{ record.provider.account_number }}
                            </span>
                        </div>
                    </div>
                    
                    {% endif %}
                </div>

                {% if modal == "modal_VehicleMaintenance" %}
                    {% include 'components/modals/maintenance.html' %}
                    
                {% elif modal == "modal_SupplyOrder" %}
                    {% include 'components/modals/extend_supply_order_base.html' with role=project|get_project_role:user %}

                {% elif modal == "modal_SubJobOrder" %}
                    {% include 'components/modals/extend_sub_job_order_base.html' with role=project|get_project_role:user %}

                {% elif modal == 'modal_PaymentRecord' %}
                    {% include 'components/modals/payment_record.html' %}

                {%  endif %}


                <div class="flex justify-center items-center gap-16 pt-8 px-6 hidable approve-hidable
                {% if modal == "modal_VehicleMaintenance" or modal == "modal_SupplyOrder"  or modal == "modal_SubJobOrder" %} hidden {% endif %}
                {% if record.lock %} hidden {% endif %}">
                    {% if record and model != "PaymentRecord" and model != "SupplyPaymentRecord" and model != "SubJobPaymentRecord" %}
                        <button type="button" class="btn btn-danger rounded-full w-28 "
                            onclick="if (confirm('Thao tác này sẽ xóa dữ liệu hoàn toàn, và không thể khôi phục.\n\nBạn có thực sự muốn xóa dữ liệu này không?')) { 
                                // One more alert to confirm by type if modal = modal_VehicleMaintenance
                                {% if modal == 'modal_VehicleMaintenance' or modal == 'modal_SupplyOrder' or modal == 'modal_SubJobOrder' %}
                                    if (confirm('Xác nhận xóa dữ liệu.\n\n Toàn bộ các dự liệu Thanh toán và hình ảnh liên quan sẽ bị xóa theo.')) {
                                        document.getElementById('archived').value='true';
                                        document.getElementById('submit-form').click();
                                    }
                                {% else %}
                                    document.getElementById('archived').value='true';
                                    document.getElementById('submit-form').click();
                                {% endif %}
                            }">
                            Xóa
                            <input name="archived" id="archived" class="hidden">
                        </button>
                    {% endif %}

                    <div class="flex justify-center gap-3">
                        <button type="submit" id="submit-form" class="submit btn btn-primary rounded-full w-28">
                            {{ submit_button_name }}
                            </script>
                        </button>
                        <button id='cancel-modal' type="button" class="btn btn-secondary rounded-full w-28" onclick="document.getElementById('modal-body').remove();">
                            Hủy bỏ
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if modal == 'modal_PaymentRecord' %}
    <script>
        // find label with f="requested_amount" and for="transfer"
        document.querySelectorAll('label[for]').forEach(el => {
            if (el.getAttribute('for') == 'requested_amount' 
                    || el.getAttribute('for') == 'transferred_amount'
                    || el.getAttribute('for') == 'money_source'
                    || el.getAttribute('for') == 'note') 
                    {
                el.classList.remove('text-theme');
                el.classList.add('text-green-600');
                el.classList.add('font-bold');
            }
        })
    </script>
    {% endif %}
</div>
