{% load custom_tags %}
<div up-hungry id="modal">
    <div id="modal-body"
        class="modal z-40 fixed inset-0 h-screen w-full flex justify-center overflow-auto bg-slate-600 bg-opacity-60">
        <!-- Modal Content -->
        <div class="relative top-10 mx-4 card h-12/12 w-11/12 mb-20">
            <h3 class="mt-4 mb-4 text-xl font-bold leading-6 text-center text-theme">Bảng dự toán</h3>

            <button id='cancel-modal' type="button"
                class="cancel-modal absolute top-5 right-4 btn btn-secondary rounded-full text-nowrap h-6 w-6 text-sm"
                onclick="document.getElementById('modal-body').remove();">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>

            <div class="h-full">
                {% csrf_token %}
                <div class="flex flex-col h-full justify-between gap-5 text-sm text-theme">
                    <div class="flex flex-col h-fit h-max-[300px] gap-4 pt-4 pb-2 overflow-y-scroll mx-5">

                        <div class="flex flex-col justify-center gap-5">
                            <div class="flex justify-center gap-5">

                                <form up-target="#modal:maybe" action="{% url 'form_cost_estimation_table' project_id=project_id %}" method="post"
                                    enctype="multipart/form-data" id="upload-form"
                                    class="flex flex-row whitespace-nowrap gap-2">
                                    {% csrf_token %}
                                    <input type="file"
                                        class="form-input-file file-input file-input-bordered w-full max-w-xs" id="file"
                                        name="file" accept=".xlsx" required onchange="checkFileSize(this.files[0])" />
                                    <input type="hidden" name="project" value="{{ project_id }}">
                                    <button class="btn btn-primary" type="submit" id="upload-button">
                                        <i class="fas fa-file-excel me-3" style="font-size: 16px;"
                                            aria-hidden="true"></i>
                                        <span class="me-3"> Nhập File Excel </span>
                                    </button>
                                </form>


                                <!-- download_backup.html -->
                                <a href="{% url 'download_excel_template' 'cost_estimation_table' %}"
                                    class="whitespace-nowrap">
                                    {% csrf_token %}
                                    <button class="btn btn-primary nowrap" type="submit">
                                        <i class="fas fa-file-excel me-3" style="font-size: 16px;"
                                            aria-hidden="true"></i>
                                        <span class="me-3"> Tải mẫu excel </span>
                                    </button>
                                </a>


                                <button id='cancel-modal' type="button" class="cancel-modal btn btn-secondary w-28"
                                    onclick="document.getElementById('modal-body').remove();">
                                    Đóng
                                </button>




                            </div>

                            {% if message %}
                                <div id="message-in-modal" class="w-full text-center">
                                    <span class="inline-flex items-center pl-4 pr-1 py-1 bg-{{ message_type }}-100 text-{{ message_type }}-700 rounded-full text-sm font-medium">
                                        {{ message }}
                                        <button type="button" class="btn btn-secondary rounded-full text-nowrap h-6 w-6 text-sm ms-3"
                                                onclick="document.getElementById('message-in-modal').remove()" >
                                            <i class="fas fa-times" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            {% endif %}

                            <div class="w-full overflow-scroll">
                                <table
                                    class="table-auto w-full overflow-hidden border border-slate-300 dark:border-slate-900 border-opacity-50 rounded-2xl shadow-md">
                                    {% if not update %}
                                    <thead>
                                        <tr class="text-sm leading-normal text-theme rounded-2xl shadow-md bg-white dark:bg-slate-800
                                        border border-slate-300 dark:border-slate-900 border-opacity-50">
                                            {% for header in headers %}
                                            <th class="px-6 py-3 text-left font-semibold">{{ header }}</th>
                                            {% endfor %}

                                            <th></th>
                                        </tr>
                                        {% endif %}

                                    </thead>
                                    {% for record in records %}
                                    <tbody>
                                        <tr
                                            class="{{ record.style }} bg-gray-50 hover:bg-blue-100 dark:bg-gray-800 dark:even:bg-gray-700 dark:hover:bg-gray-600">
                                            {% for field in fields %}
                                            <td
                                                class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                                {{ record|format_display:field }}
                                            </td>
                                            {% endfor %}

                                        </tr>

                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
</div>