
<div id="title-bar" class="flex flex-wrap justify-between mb-6 gap-5">
    <div class="w-3/6 flex gap-4 justify-between items-center mt-2">
        <p class="text-2xl text-center font-semibold text-theme truncate"> {{ text.title }} </p>
    </div>

    <div class="flex gap-4 justify-end items-center mt-2">

        {% if page == 'page_each_project' %}
            <div id="table-chart-toggle">
                <a id="show-gantt-jobs" class="btn btn-primary text-nowrap cursor-pointer">
                    <span class="me-3"> Xem Gantt </span>
                </a>
                <a id="show-table-jobs" up-preload="insert" up-target="#display-records, #tool-bar" up-preload href="{{ request.path }}?check_date={{ text.check_date }}" class="btn btn-primary text-nowrap hidden">
                    <span class="me-3"> Xem Table </span>
                </a>
            </div>

            <div id="jobs-plan-toggle">
                <a id="show-weekplan" up-preload="insert" up-target="#display-records, #tool-bar" href="{% url 'load_weekplan_table' project_id=text.project_id %}?check_date={{ text.check_date }}" class="btn btn-primary text-nowrap">
                    <i class="fas fa-bullseye me-3" style="font-size: 16px;" aria-hidden="true"></i>
                    <span class="me-3"> Xem kế hoạch tuần </span>
                </a>

                <a id="show-all-jobs" up-preload="insert" up-target="#display-records, #tool-bar" up-preload href="{{ request.path }}?check_date={{ text.check_date }}" class="btn btn-primary text-nowrap hidden">
                    <span class="me-3"> Xem tất cả công việc </span>
                </a>
            </div>


            <input id="check_date" type="date" name="check_date" class="form-input">

            <button id="excel-button" class="btn btn-primary text-nowrap" id="toggle-extra-tool-bar" onclick="var x = document.getElementById('extra-tool-bar'); x.classList.toggle('hidden');">
                <i class="fas fa-file-excel me-3" style="font-size: 16px;" aria-hidden="true"></i>
                <span class="me-3"> Excel </span>
            </button>
        {% endif %}
        
        {% if text.create_new_button_name %}
        <a id="create-new" href="{{ text.create_new_form_url }}" up-preload="insert" up-target=":none" class="max-sm:hidden btn btn-primary text-nowrap">
            <i class="fas fa-plus me-3" style="font-size: 16px;"></i>
            <span class="max-sm:hidden me-3"> {{ text.create_new_button_name }} </span>
        </a>
        {% endif %}
    </div>
</div>

{% if page == 'page_each_project' %}
<div id="extra-tool-bar" class="flex justify-center hidden">
    <div class="hidden" id="project-id" data-id="{{ text.project_id }}"></div>
    <div class="card w-fit p-5 mb-4 flex flex-row justify-center items-center gap-4">

        <form up-target="#display-records:maybe" action="{% url 'upload_project' text.project_id %}" method="post" enctype="multipart/form-data" id="upload-form"
            class="flex flex-row whitespace-nowrap gap-2">
            {% csrf_token %}
            <input type="file" class="form-input-file file-input file-input-bordered w-full max-w-xs" id="file" name="file"
                accept=".xlsx" required onchange="checkFileSize(this.files[0])" />
            <input type="hidden" name="project" value="{{ text.project_id }}">
            <button class="btn btn-primary" type="submit" id="upload-button">
                <i class="fas fa-file-excel me-3" style="font-size: 16px;" aria-hidden="true"></i>
                <span class="me-3"> Nhập File Excel </span>
            </button>
        </form>


        <!-- download_backup.html -->
        <a href="{% url 'download_excel_template' 'jobs' %}"  class="whitespace-nowrap">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-file-excel me-3" style="font-size: 16px;" aria-hidden="true"></i>
                <span class="me-3"> Tải mẫu excel </span>
            </button>
        </a>

        <button class="btn btn-secondary ml-5" onclick="var x = document.getElementById('extra-tool-bar'); x.classList.add('hidden');">
            <span class=""> Đóng </span>
        </button>

    </div>

</div>
{% endif %}