<!-- Toolbar for database interactions -->
<form action="{{ request.path|slice:'?' }}">
    <div id="db-tool-bar">
        <div class="mt-2">
            <!-- Separate 2 sections of controls -->
            <div class="flex flex-wrap justify-between gap-4">
                <!-- Left controls for filtering and sorting -->
                <div id='left-controls' class="flex justify-start gap-4 h-10 w-[800px]">

                    <!-- Controls to manage search and filter options -->
                    <div id="search-control" class="z-10 w-full">

                        <!-- Toggle search bar in small screen -->
                        <button id="toggle-search" type="button" class="btn btn-outline h-full w-11 sm:hidden">
                            <i class="fas fa-search text-theme" style="font-size: 18px;"></i>
                        </button>

                        <!-- Search bar and filter options -->
                        <div id="search-bar" class="flex w-full h-10 max-sm:hidden">

                            <!-- Filter dropdown to select filter type -->
                            <select id="filter-select"
                                class="form-input w-fit rounded-none h-full rounded-l-lg border border-theme border-opacity-50 text-theme pr-10">

                                {% for field in fields %}
                                <option value="{{ field }}">{{ field|capfirst }}</option>
                                {% endfor %}
                            </select>



                            <!-- Input field for filter values -->
                            <input id="filter-input" name="all" type="text" placeholder="Nhập để tìm kiếm ..."
                                class="form-input rounded-none h-full border-r-0 border-l-0 border-theme border-opacity-50 text-theme"
                                autocomplete="off" />
                            <!-- Button to submit search -->
                            <button id="search-button" type="submit"
                                class="btn btn-outline rounded-l-none h-full shadow-none">
                                <i class="fas fa-search text-theme" style="font-size: 18px;"></i>
                            </button>
                        </div>
                    </div>

                </div>


                <!-- Right controls for view toggle and information display -->
                <div id='right-controls' class="flex items-center justify-end gap-4">
                    <a href="{{ request.path|slice:'?' }}?all=" up-target="#display_cards, #infor-bar:maybe"
                        type="button" class="btn btn-outline">
                        Tất cả công việc
                    </a>
                    <a href="{{ request.path|slice:'?' }}?all=" up-target="#display_cards, #infor-bar:maybe"
                        type="button" class="btn btn-outline">
                        Công việc đang trễ hạn
                    </a>
                    <a href="{{ request.path|slice:'?' }}?all=" up-target="#display_cards, #infor-bar:maybe"
                        type="button" class="btn btn-outline">
                        Công việc đã hoàn thành
                    </a>

                </div>
            </div>
        </div>
    </div>
</form>