{% load custom_tags %}

<div id="tool-bar" class="flex flex-row justify-between items-end w-full gap-5">
    <!-- Toolbar for database interactions -->
    <div class="flex flex-row items-end gap-5">
       
        <form action="{% url 'load_elements' %}" up-target="#display-records, #lazy-load:maybe">
            <input type="hidden" name="q" value="{% encode_params model=model check_date=check_date project_id=project_id start_date=start_date group_by=group_by tab=tab  elements='display_records|tool_bar' %}" />
            <input type="hidden" name="check_date" value="{{ check_date }}" />
            <!-- Separate 2 sections of controls -->
            <div class="flex flex-wrap justify-between gap-4">
                <!-- Left controls for filtering and sorting -->
                <div id='left-controls' class="flex justify-start gap-4 h-10 w-fit">

                    <!-- Controls to manage search and filter options -->
                    <div id="search-control" class="z-10 w-full flex flex-row justify-between items-center gap-4">

                        <!-- Toggle search bar in small screen
                        <button id="toggle-search" type="button" class="btn btn-outline h-full w-11 sm:hidden">
                            <i class="fas fa-search text-theme" style="font-size: 18px;"></i>
                        </button> -->

                        <!-- Search bar and filter options -->
                        <div id="search-bar" class="flex h-10 w-[500px]">
                            <!-- Input field for filter values -->
                            <input id="filter-input" name="all" type="text" placeholder="Nhập để tìm kiếm ..."
                                class="form-input rounded-l-lg rounded-r-none h-full border-r-0 border-theme dark:border-gray-600 border-opacity-50 text-theme"
                                autocomplete="off"/>
                            <!-- Button to submit search -->
                            <button id="search-button" type="submit"
                                class="btn btn-outline rounded-l-none h-full shadow-none">
                                <i class="fas fa-search text-theme" style="font-size: 18px;"></i>
                            </button>
                        </div>

                        {% if page == 'page_each_project' %}
                        <select id="sort-select" name="sort" class="form-input w-fit border border-theme border-opacity-50">
                            <option value="" selected>Sắp xếp ...</option>
                            <option value="name">Tên công việc - (A → Z)</option>
                            <option value="-name">Tên công việc - (Z → A)</option>
                            <option value="category">Danh mục - (A → Z)</option>
                            <option value="-category">Danh mục - (Z → A)</option>
                            <option value="status">Trạng thái</option>
                            <option value="unit">Đơn vị - (A → Z)</option>
                            <option value="-unit">Đơn vị - (Z → A)</option>
                            <option value="quantity">Khối lượng - (Tăng)</option>
                            <option value="-quantity">Khối lượng - (Giảm)</option>
                            <option value="unit_price">Đơn giá - (Tăng)</option>
                            <option value="-unit_price">Đơn giá - (Giảm)</option>
                            <option value="total_amount">Thành tiền - (Tăng)</option>
                            <option value="-total_amount">Thành tiền - (Giảm)</option>
                            <option value="start_date">Ngày bắt đầu - (Tăng)</option>
                            <option value="-start_date">Ngày bắt đầu - (Giảm)</option>
                            <option value="end_date">Ngày kết thúc - (Tăng)</option>
                            <option value="-end_date">Ngày kết thúc - (Giảm)</option>
                        </select>

                        <script>
                            document.getElementById('sort-select').addEventListener('change', function() {
                                // Press search-button
                                document.getElementById('search-button').click();
                            });
                        </script>
                        {% elif page == 'page_transport_department' and tab == 'vehicle_operation_data_by_date' %}
                            <input id="start_date" type="date" name="start_date" value="{{ start_date }}" class="form-input w-fit">
                            <script>
                                document.getElementById('start_date').addEventListener('change', function() {
                                    // Press search-button
                                    document.getElementById('search-button').click();
                                });
                            </script>
                        {% elif page == 'page_transport_department' and tab == 'driver_salary' %}
                                <input id="check_month" type="month" name="check_month" value="{{ check_month }}" class="form-input w-fit">
                                <script>
                                    document.getElementById('check_month').addEventListener('change', function() {
                                        // Press search-button
                                        document.getElementById('search-button').click();
                                    });
                                </script>

                        {% elif page == 'page_transport_department' and tab == 'vehicle_revenue' %}
                            <input id="start_date" type="date" name="start_date" value="{{ start_date }}" class="form-input w-fit">
                            <span class="text-lg text-theme">đến</span>
                            <input id="end_date" type="date" name="end_date" value="{{ end_date }}" class="form-input w-fit">
                                <script>
                                    document.getElementById('start_date').addEventListener('change', function() {
                                        // Press search-button
                                        document.getElementById('search-button').click();
                                    });
                                    document.getElementById('end_date').addEventListener('change', function() {
                                        // Press search-button
                                        document.getElementById('search-button').click();
                                    });
                                </script>





                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
        <!-- Right controls for view toggle and information display -->
        {% if page == 'page_each_project' %}
        <form action="{% url 'load_elements' %}" up-target="#display-records">
            <input type="hidden" name="q" value="{% encode_params model=model check_date=check_date project_id=project_id elements='display_records' %}" />
            <div class="flex flex-wrap items-end justify-between gap-4">
                <input type="hidden" name="check_date" value="{{ check_date }}" />
                <button type="submit" class="btn btn-outline">
                    <input type="submit" name="all" value=""/>
                    Tất cả công việc
                </button>
                <!-- Separate 2 sections of controls -->
            </div>
        </form>
        {% endif %}
    </div>
    
    <div class="flex flex-row items-end gap-5">
        {% if create_new_button_name %}
        <a id="create-new" href="{% url 'load_elements' %}?q={% encode_params model=model check_date=check_date project_id=project_id elements='modal_form' %}" up-preload="insert" up-target=":none" class="btn btn-primary text-nowrap">
            <i class="fas fa-plus me-3" style="font-size: 16px;"></i>
            <span class="me-3"> {{ create_new_button_name }} </span>
        </a>
        {% endif %} 
    </div>

</div>
