{% load custom_tags %}
{% load humanize %}
{% load static %}


<div id="display-records" class="w-full overflow-scroll mt-4">
    <table id="display-table-records" class="relative table-auto w-full border border-slate-300 dark:border-slate-900 border-opacity-50 rounded-2xl shadow-md">
        {% if not update %}
        <thead class="sticky top-0">
            <tr class="text-sm leading-normal text-theme rounded-2xl shadow-md bg-white dark:bg-slate-800
            border border-slate-300 dark:border-slate-900 border-opacity-50">
                {% for header in headers %}
                    <th class="px-6 py-3 text-left font-semibold">{{ header }}</th>
                {% endfor %}

                    <th></th>
            </tr>
        </thead>
        {% endif %}

        
        {% for record in records %}
            <tbody id="record_{{ record.pk }}" record-id="{{ record.pk }}" class="{{ record.style }}">
                <tr class="{{ record.style }} bg-gray-50 hover:bg-blue-100 dark:bg-gray-800 dark:even:bg-gray-700 dark:hover:bg-gray-600">
                    {% for field in fields %}
                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                            
                        {% if 'status' in field  %} 
                            <span onclick="filterTable(this, '{{ record|format_display:field }}')"
                                class="{{ record|get_value:field }}  cursor-pointer text-white p-1 rounded-md shadow-2xl top-5 right-5 px-2 text-nowrap">
                                {{ record|format_display:field }}
                            </span>
                
                        {% elif field == 'lock' %} 
                            {% if record|get_value:field == True  %} 
                            <span onclick="filterTable(this, 'Phiếu đã khóa')"
                                    class="{{ record|get_value:field }} cursor-pointer text-white p-1 rounded-md shadow-2xl top-5 right-5 px-2 text-nowrap">Đã khóa</span>
                            {% else %}
                            <span onclick="filterTable(this, 'Phiếu chưa khóa')"
                                    class="{{ record|get_value:field }} cursor-pointer text-white p-1 rounded-md shadow-2xl top-5 right-5 px-2 text-nowrap">Chưa khóa</span>
                            {% endif %}

                        {% elif field == 'image' and record.image %} 
                            <div class="relative group">
                                <a href="{{ record.image.url }}" target="_blank">
                                    <img src="{{ record.image.url }}" alt="image" class="h-10 rounded-sm cursor-pointer">
                                </a>
                            </div>
                        {% elif field == 'image_prove' and record.image_prove %} 
                        <div class="relative group">
                            <a href="{{ record.image_prove.url }}" target="_blank">
                                {% if record.image_prove.url|slice:"-4:" == ".pdf" %}
                                    <img src="{% static 'images/icons/pdf.png' %}?v={{ STATIC_VERSION }}" alt="PDF" class="h-10 rounded-sm cursor-pointer">
                                {% else %}
                                    <img src="{{ record.image_prove.url }}" alt="image" class="h-10 rounded-sm cursor-pointer">
                                {% endif %}
                            </a>
                        </div>

                        {% elif field == 'image1' %} 
                        <div class="flex flex-row gap-2" style="width: 100px;">
                            {% if record.image1 %}
                                <div class="relative group">
                                    <a href="{{ record.image1.url }}" target="_blank">
                                        <img src="{{ record.image1.url }}" alt="image" class="h-10 rounded-sm cursor-pointer">
                                    </a>
                                </div>
                            {% endif %}
                            {% if record.image2 %}
                                <div class="relative group">
                                    <a href="{{ record.image2.url }}" target="_blank">
                                        <img src="{{ record.image2.url }}" alt="image" class="h-14 rounded-sm cursor-pointer">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        {% elif field == 'part_providers' or field == 'maintenance_category' or field == 'user' or field == 'vehicle' %}
                            <div class="flex flex-row gap-2 whitespace-pre-line text-nowrap">
                                {{ record|format_display:field }}
                            </div>
                        {% else %}
                            {{ record|format_display:field }}
                        {% endif %} 

                    </td>
                    {% endfor %}
    
                    <td class="py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                        <div class="w-10 h-10 flex justify-center items-center">
                            <a id="record-edit" class="flex flex-row justify-center items-center" 
                            up-preload="reveal" 
                            up-cache="auto" 
                            href="{% url 'load_elements' %}?q={% encode_params model=model check_date=check_date project_id=project_id elements='modal_form' pk=record.pk %}" 
                            up-target="#modal">
                                <img src="{% static 'images/icons/edit.png' %}?v={{ STATIC_VERSION }}" alt="Edit Record" class="w-6 h-6">
                            </a>
                        </div>  
                    </td>
                </tr>
                
            </tbody>
        {% endfor %}
    </table>
</div>


