{% load custom_tags %}
{% load humanize %}
{% load static %}


<div id="display-records" class="w-full overflow-scroll mt-4 z-0">
    
    <table id="display-table-records" class="relative table-auto w-full border border-slate-300 dark:border-slate-900 border-opacity-50 rounded-2xl shadow-md">
        {% if not update %}
        <thead class="sticky top-0 z-10">
            <tr class="text-sm leading-normal text-theme rounded-2xl shadow-md bg-white dark:bg-slate-800
            border border-slate-300 dark:border-slate-900 border-opacity-50">
                {% for header in headers %}
                    <th class="px-6 py-3 text-left font-semibold cursor-pointer">
                        {% if header == 'Dự án' or header == 'Ghi chú' or header == 'Địa chỉ' or header == 'Nhà cung cấp' or header == 'Tài xế' or header == 'Nhân viên' or header == 'Phiếu sửa chữa' %}
                            <div style="width: 250px;">
                                {{ header }}
                            </div>
                        {% elif header == 'Loại xe' or header == 'Họ và tên' or header == 'Tài xế' %}
                            <div style="width: 150px;">
                                {{ header }}
                            </div> 
                        {% else %}
                            <div style="white-space: nowrap;">
                                {{ header }}
                            </div>
                        {% endif %}
                    </th>
                {% endfor %}
                <th class="sticky right-0 bg-white dark:bg-slate-800 z-30">

                </th>
            </tr>
        </thead>
        {% endif %}

        
        {% for record in records %}
            <tbody id="record_{{ record.pk }}" record-id="{{ record.pk }}" class="{{ record.style }}">
                <tr class="{{ record.style }} bg-gray-50 hover:bg-blue-100 dark:bg-gray-800 dark:even:bg-gray-700 dark:hover:bg-gray-600">
                    {% for field in fields %}
                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                            


                        {% if 'status' in field  %} 
                            <a  class="{{ record|get_value:field }}  cursor-pointer text-white p-1 rounded-md shadow-2xl top-5 right-5 px-2 text-nowrap"
                                up-target="#display-records, #load-more:maybe"
                                href="{% url 'load_elements' %}?q={% encode_params page=page model=model start_date=start_date end_date=end_date check_date=check_date check_month=check_month group_by=group_by tab=tab elements='display_records' project_id=project_id %}{% for field_name, value in search_queries.items %}&{{ field_name }}={{ value }}{% endfor %}&sort={{sort}}&{{field}}={{ record|format_display:field }}">
                                {{ record|format_display:field }}
                            </a>
                
                        {% elif field == 'file_url'  %} 
                        <a  style="max-width: 20rem;
                                    display: inline-block;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;"
                            target="_blank"
                            href="{{ record|get_value:field }}">
                            {{ record|format_display:field }}
                        </a>
             

                        {% elif field == 'lock' %} 
                            <a class="{{ record|get_value:field }} cursor-pointer text-white p-1 rounded-md shadow-2xl top-5 right-5 px-2 text-nowrap"
                               up-target="#display-records, #load-more:maybe"
                               href="{% url 'load_elements' %}?q={% encode_params page=page model=model start_date=start_date end_date=end_date check_date=check_date check_month=check_month group_by=group_by tab=tab elements='display_records' project_id=project_id %}{% for field_name, value in search_queries.items %}&{{ field_name }}={{ value }}{% endfor %}&sort={{sort}}&{{field}}={{ record|format_display:field }}">
                                {% if record|get_value:field == True %}Đã khóa{% else %}Chưa khóa{% endif %}
                            </a>

                        {% elif field == 'image' and record.image %} 
                            <div class="relative group">
                                <a href="{{ record.image.url }}" target="_blank">
                                    <img src="{{ record.image.url }}" alt="image" class="h-10 rounded-sm cursor-pointer">
                                </a>
                            </div>
                        {% elif field == 'image_prove' and record.image_prove %} 
                        <div class="relative group">
                            <a href="{{ record.image_prove.url }}" target="_blank">
                                {% if record.image_prove.url|slice:"-4:" == ".pdf" %}
                                    <img src="{% static 'images/icons/pdf.png' %}?v={{ STATIC_VERSION }}" alt="PDF" class="h-10 rounded-sm cursor-pointer">
                                {% else %}
                                    <img src="{{ record.image_prove.url }}" alt="image" class="h-10 rounded-sm cursor-pointer">
                                {% endif %}
                            </a>
                        </div>

                        {% elif field == 'image1' %} 
                        <div class="flex flex-row gap-2" style="width: 100px;">
                            {% if record.image1 %}
                                <div class="relative group">
                                    <a href="{{ record.image1.url }}" target="_blank">
                                        <img src="{{ record.image1.url }}" alt="image" class="h-10 rounded-sm cursor-pointer">
                                    </a>
                                </div>
                            {% endif %}
                            {% if record.image2 %}
                                <div class="relative group">
                                    <a href="{{ record.image2.url }}" target="_blank">
                                        <img src="{{ record.image2.url }}" alt="image" class="h-14 rounded-sm cursor-pointer">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        {% elif field == 'part_providers' or field == 'maintenance_category' or field == 'user' or field == 'vehicle' %}
                            <div class="flex flex-row gap-2 whitespace-pre-line text-nowrap">{{ record|format_display:field }}</div>
                        
                        
                        
                        {% elif field == 'vehicle_maintenance' %}
                            <a class="underline text-blue-600" href="{% url 'load_elements' %}?q={% encode_params model='VehicleMaintenance' project_id=project_id elements='modal_form' pk=record.vehicle_maintenance.pk %}" 
                            up-target="#modal">
                                {{ record|format_display:field }}
                            </a>
                        
                        {% elif field == 'supply_order' %}
                            <a class="underline text-blue-600" href="{% url 'load_elements' %}?q={% encode_params model='SupplyOrder' project_id=project_id elements='modal_form' pk=record.supply_order.pk %}" 
                            up-target="#modal">
                                {{ record|format_display:field }}
                            </a>
                        
                        {% elif field == 'sub_job_order' %}
                            <a class="underline text-blue-600" href="{% url 'load_elements' %}?q={% encode_params model='SubJobOrder' project_id=project_id elements='modal_form' pk=record.sub_job_order.pk %}" 
                            up-target="#modal">
                                {{ record|format_display:field }}
                            </a>

                        
                        {% else %}
                            {{ record|format_display:field }}
                        {% endif %} 

                    </td>
                    {% endfor %}
    
                    <td class="py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300 text-right sticky right-0 bg-inherit me-5 z-0">
                        <div class="flex flex-row gap-1 mr-3 justify-end z-0">
                            {% if model != "User" and model != "PaymentRecord" and model != "SupplyPaymentRecord" and model != "SubJobPaymentRecord" and model != "OperationPaymentRecord" and model != "VehicleMaintenanceAnalysis" %}
                                <div class="w-10 h-10 flex justify-end items-center">
                                    <form class="flex flex-row justify-end items-center"
                                    action="{% url 'lock' model record.pk %}" up-submit
                                    method="post"
                                    up-target="#modal:maybe, #lock_{{ record.pk }}:maybe">
                                        {% csrf_token %}
                                        <button class="bg-transparent border-0 p-0 cursor-pointer pb-3">
                                            {% if record.lock %}
                                                <div id="lock_{{ record.pk }}">
                                                    <img src="{% static 'images/icons/lock.png' %}?v={{ STATIC_VERSION }}" alt="Lock" class="w-9 h-9">
                                                    <input type="hidden" name="lock" value="False">
                                                </div>
                                            {% else %}
                                                <div id="lock_{{ record.pk }}">
                                                    <img src="{% static 'images/icons/unlock.png' %}?v={{ STATIC_VERSION }}" alt="Unlock" class="w-9 h-9">
                                                    <input type="hidden" name="lock" value="True">
                                                </div>
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>  
                            {% endif %}
                            {% if model != "VehicleMaintenanceAnalysis" %}
                            <div class="w-10 h-10 flex justify-end items-center">
                                <a id="record-edit" class="flex flex-row justify-end items-center" 
                                up-preload="reveal" 
                                up-cache="auto" 
                                href="{% url 'load_elements' %}?q={% encode_params model=model check_date=check_date project_id=project_id elements='modal_form' pk=record.pk %}" 
                                up-target="#modal">
                                    <img src="{% static 'images/icons/edit.png' %}?v={{ STATIC_VERSION }}" alt="Edit Record" class="w-8 h-8">
                                </a>
                            </div>  
                            {% endif %}
                        </div>
                    </td>
                </tr>
                
            </tbody>
        {% endfor %}
    </table>
</div>


