{% load custom_tags %}
{% load humanize %}
{% load static %}

<div id="display-records" class="h-screen w-full overflow-scroll mt-4">
    {% if groups %}
        {% for group in groups %}
            <div id="group-{{ group.group_id }}" class="transport-table group-{{ group.group_id }}">

                <form id="form-group-{{ group.group_id }}" action="{% url 'handle_vehicle_operation_form' %}" method="POST" up-target=".group-{{ group.group_id }}:maybe" class="rounded-b-2xl">
                    {% csrf_token %}
                    <input type="hidden" name="group_by" value="vehicle" />
                    <input type="hidden" name="tab" value="{{ tab }}" />
                    <div class="text-sm leading-normal text-theme rounded-t-2xl shadow-md bg-white dark:bg-slate-800
                    border border-slate-300 dark:border-slate-900 border-opacity-50 overflow-x-scroll">
                        <div class="px-6 py-3 text-left font-semibold">
                            
                            <div class="flex justify-between items-start">
                                <div class="flex flex-col items-start gap-3">
                                    {% if tab == 'vehicle_operation_data_by_date' %}
                                        {% calculate_total_operation_time group.records group.group_name %}
                                    {% elif tab == 'driver_salary' %}
                                        {% calculate_driver_salary group.records group.group_name %}
                                    {% endif %}
                                </div>
                                
                                <div class="flex gap-4">
                                    {% if tab == 'vehicle_operation_data_by_date' %}
                                        <button id="edit" class="btn btn-primary w-32">
                                            Chỉnh sửa
                                        </button>
                                        <button id="add" class="btn btn-primary hidden">
                                            Thêm dữ liệu nhập tay
                                        </button>
                                        <button type="submit" id="save" class="btn btn-success hidden w-32">
                                            Lưu thay đổi
                                        </button>   
                                        <button id="cancel" class="btn btn-secondary hidden w-32">
                                            Hủy bỏ
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="overflow-x-scroll">
                        <table id="display-table-records-{{ group.group_name }}" class="table-auto w-full border border-slate-300 dark:border-slate-900 border-opacity-50 rounded-b-2xl shadow-md overflow-y-visible">

                            <thead>
                                <tr class="text-sm leading-normal text-theme shadow-md bg-white dark:bg-slate-800
                                border border-slate-300 dark:border-slate-900 border-opacity-50">
                                    {% for header in headers %}
                                        <th class="px-6 py-3 text-left font-semibold">{{ header }}</th>
                                    {% endfor %}

                                </tr>
                            </thead>

                            {% for record in group.records %}
                                <tbody id="record_{{ record.pk }}" record-id="{{ record.pk }}" class="{{ record.style }}">
                                    <tr class="{{ record.style }} bg-gray-50 hover:bg-blue-100 dark:bg-gray-800 dark:even:bg-gray-700 dark:hover:bg-gray-600">
                                        {% for field in fields %}
                                        <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300 ">
                                                
                                            {% if field == 'status' %} 
                                                <span class="{{ record.status }} text-white p-1 rounded-md shadow-2xl top-5 right-5 px-2 text-nowrap">{{ record|format_display:field }}</span>

                                            {% elif field == 'driver' %}
                                                <input type="hidden" name="id" value="{{ record.pk }}">
                                                <span class="display">{{ record|format_display:field }}</span>
                                                <select name="driver_{{ record.pk }}" class="form-input input input-driver hidden" id="id_driver" style="width: 180px;">
                                                    <option value="" selected">----------</option>
                                                    {% for driver in record.get_driver_choices %}
                                                        {% if driver.id == record.driver.id %}
                                                            <option selected value="{{ driver.id }}">{{ driver.name }}</option>
                                                        {% else %}
                                                            <option value="{{ driver.id }}">{{ driver.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>

                                            {% elif field == 'location' %}
                                                <span class="display">{{ record|format_display:field }}</span>
                                                <select name="location_{{ record.pk }}" class="form-input input hidden" id="id_location" style="width: 180px;">
                                                    <option value="" selected">----------</option>
                                                    {% for location in record.get_location_choices %}
                                                        {% if location.id == record.location.id %}
                                                            <option selected value="{{ location.id }}">{{ location.name }}</option>
                                                        {% else %}
                                                            <option value="{{ location.id }}">{{ location.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>

                                            {% elif field == 'fuel_allowance' %}
                                                <span class="display">{{ record|format_display:field }}</span>
                                                <input type="number" name="fuel_allowance_{{ record.pk }}" class="form-input input hidden" value="{{ record.fuel_allowance }}" step="any" style="width: 180px;"/>


                                            {% elif field == 'note' %}
                                                <span class="display">{{ record|format_display:field }}</span>
                                                <textarea name="note_{{ record.pk }}" class="form-input expand input hidden" style="width: 250px"
                                            >{{ record.note }}</textarea>

                                            {% elif field == 'duration_seconds' or field == 'overtime' or field == 'normal_working_time' %}
                                                
                                                {% if record.source == 'manual' %}
                                                    {% if record|get_value:field > 0  %}
                                                        <span class="display plus">
                                                            {{ record|format_display:field }}
                                                        </span>
                                                    {% elif record|get_value:field == 0  %}
                                                        <span class="display zero">
                                                            {{ record|format_display:field }}
                                                        </span>
                                                    {% else %}
                                                        <span class="display minus">
                                                            - {{ record|format_display:field }}
                                                        </span>
                                                    {% endif %}
                                                    
                                                    <div class="flex flex-row">
                                                        <select name="{{ field }}_sign_{{ record.pk }}" class="form-input input hidden" id="id_{{ field }}_sign_" style="width: 180px;">
                                                            <option value="plus" {% if record|get_sign:field == '+' %} selected {% endif %}>+ Cộng</option>
                                                            <option value="minus" {% if record|get_sign:field == '-' %} selected {% endif %}>- Trừ</option>
                                                        </select>
                                                    
                                                        <input type="time" step="1" id="id_{{ field }}_{{ record.pk }}" name="{{ field }}_{{ record.pk }}" class="form-input input hidden" value="{{ record|format_display:field }}">
                                                    </div>

                                                {% else %}
                                                    {% if record|get_value:field > 0  %}
                                                        <span class="plus">
                                                            {{ record|format_display:field }}
                                                        </span>

                                                    {% elif record|get_value:field == 0  %}
                                                        <span class="zero">
                                                            {{ record|format_display:field }}
                                                        </span>

                                                    {% else %}
                                                        <span class= "minus">
                                                            - {{ record|format_display:field }}
                                                        </span>
                                                    {% endif %}
                                                {% endif %}


                                            {% elif field == 'allow_overtime' %}
                                                <span class="display {{ record|get_value:field }}">{{ record|format_display:field }}</span>
                                                <input type="checkbox" name="{{ field }}_{{ record.pk }}" class="form-input input hidden" {% if record|get_value:field %}checked{% endif %}>

                                            {% else %}
                                                {{ record|format_display:field }}
                                            {% endif %} 
                                        </td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            {% endfor %}
                            <tbody class="add-row-template hidden">
                                <tr class=" bg-gray-50 hover:bg-blue-100 dark:bg-gray-800 dark:even:bg-gray-700 dark:hover:bg-gray-600">
                                    
                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        <input disabled type="hidden" name="vehicle_new" value="{{ group.group_name }}">
                                        {{ group.group_name }}
                                    </td>
                                    
                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        <input disabled type="hidden" name="start_time_new" value="{{ group.start_time|date:"d/m/Y" }}">
                                        {{ group.start_time|date:"d/m/Y" }}
                                    </td>
                                    
                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        {{ group.end_time|date:"d/m/Y" }}
                                    </td>   
                                    
                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        <div class="flex flex-row">
                                            <select disabled name="duration_seconds_sign_new" class="form-input input hidden" id="id_duration_seconds_sign_new" style="width: 180px;">
                                                <option value="plus" selected>+ Cộng</option>
                                                <option value="minus">- Trừ</option>
                                            </select>
                                        
                                            <input disabled type="time" step="1" id="id_duration_seconds_new" name="duration_seconds_new" class="form-input input hidden" value="00:00:00">
                                        </div>
                                    </td>
                                    
                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        Nhập tay
                                    </td>
                                    
                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        <select disabled name="driver_new" class="form-input input input-driver hidden" id="id_driver" style="width: 180px;">
                                            <option value="">----------</option>
                                            {% for driver in group.drivers %}
                                                    <option value="{{ driver.id }}">{{ driver.full_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    
                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        <select disabled name="location_new" class="form-input input hidden" id="id_location" style="width: 180px;">
                                            <option value="" selected>----------</option>
                                            {% for location in group.locations %}
                                                <option value="{{ location.id }}">{{ location.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>

                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        <div class="flex flex-row">
                                            <select disabled name="normal_working_time_sign_new" class="form-input input hidden" id="id_normal_working_time_sign_new" style="width: 180px;">
                                                <option value="plus" selected>+ Cộng</option>
                                                <option value="minus">- Trừ</option>
                                            </select>
                                        
                                            <input disabled type="time" step="1" id="id_normal_working_time_new" name="normal_working_time_new" class="form-input input hidden" value="00:00:00">
                                        </div>
                                    </td>

                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        <div class="flex flex-row">
                                            <select disabled name="overtime_sign_new" class="form-input input hidden" id="id_overtime_sign_" style="width: 180px;">
                                                <option value="plus" selected>+ Cộng</option>
                                                <option value="minus">- Trừ</option>
                                            </select>
                                        
                                            <input disabled type="time" step="1" id="id_overtime_new" name="overtime_new" class="form-input input hidden" value="00:00:00">
                                        </div>
                                    </td>

                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        <div class="flex flex-row">
                                            <input disabled type="checkbox" name="allow_overtime_new" class="form-input input hidden" id="id_allow_overtime_new"/>
                                        </div>
                                    </td>


                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        <input disabled type="number" name="fuel_allowance_new" class="form-input input hidden" value="0" step="any" style="width: 180px;"/>
                                    </td>

                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        Chọn hình ảnh
                                    </td>

                                    <td class="px-6 py-3 border-b border-gray-200 dark:border-gray-600 text-sm text-gray-700 dark:text-gray-300">
                                        <textarea disabled name="note_new" class="form-input expand input hidden" style="width: 250px"
                                        ></textarea>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        {% endfor %}
    {% else %}
        {% calculate_revenue_report records vehicle=vehicle select_start_date=start_date select_end_date=end_date update=update %}
        
    {% endif %}
</div>

